[2021-02-07 02:33] wuwei3 commented on #1109
From this screen:

![a](https://user-images.githubusercontent.com/46955295/107134732-bb331a80-692f-11eb-97a1-dcdfb6e3fbb9.png)

I think there should be "Body" input box to post the parameter, but it has no any input, could you please tell me how to try it on the page for this command?

https://docs.microsoft.com/en-us/rest/api/iotcentral/devices/updateproperties#code-try-0

[2021-02-07 02:53] wuwei3 commented on #1109
I tried with PUT, still not working

![8](https://user-images.githubusercontent.com/46955295/107135060-a310ca80-6932-11eb-96f8-9a8e78dd7218.png)

Request Id: 4owa4d4s

[2021-02-08 07:59] niklas-wulf-gcx commented on #1108
It was just our expectation. The behaviour is confusing, you have to admit. I just wanted to let you know.
IntelliJ suggested the `IotHubDeviceNotFoundException` and it looked the most fitting.

That being said: I do not have strong feelings about it ;)

IMO you may decide to say "this is expected and OK behaviour" and close this ticket.

[2021-02-08 16:33] yang-hai-feng commented on #1109
@wuwei3, thanks for the detail, I have imported your model to my local application, it has an inherited interface, this issue can be reproduced from my side as well, I would have our engineer to check, will get your back once they have the answer.

[2021-02-08 16:46] yang-hai-feng commented on #1109
It turns out that inherited interface should access with components, you can find your component name from here:
![image](https://user-images.githubusercontent.com/14871527/107251653-7075d900-69e9-11eb-96f6-a2a0efc13ea2.png)

PATCH https://iotsimulationcentral.azureiotcentral.com/api/preview/devices/1g0swB29y/components/[your component name]/properties

{
    "firmwareUpdate": 2
}

should work as

[2021-02-08 16:59] timtay-microsoft commented on #1108
Yeah, I do find it confusing that we have this IotHubDeviceNotFoundException, and that it isn't thrown in this case. Ideally we wouldn't have created that type in the first place, but it could be a breaking change to delete it at this point, so I'll go ahead and close this issue as "won't fix"

[2021-02-08 16:59] #1108 closed

[2021-02-08 20:04] timtay-microsoft commented on #1104
@jonasbark do you still see any issues after you move the ```client.closeNow()``` call?

[2021-02-08 20:05] jonasbark commented on #1104
I'll report back, soon!

[2021-02-09 01:43] timtay-microsoft commented on #1107
@yang-hai-feng any thoughts on this issue?

[2021-02-09 02:23] wuwei3 commented on #1109
@yang-hai-feng

Great, it works

![1](https://user-images.githubusercontent.com/46955295/107306642-31ff1d80-6ac0-11eb-9f94-5950f5d67f23.png)

But I still have one question:

The "try it" function on page

https://docs.microsoft.com/en-us/rest/api/iotcentral/devices/updatecomponentproperties#code-try-0

![2](https://user-images.githubusercontent.com/46955295/107306788-7db1c700-6ac0-11eb-801f-ca08d6

[2021-02-09 16:54] yang-hai-feng commented on #1107
@wuwei3 , currently IoT Central only allow send email to users added in your IoT Central Application, does your QQ email configured in email notification template is one user of your IoT Central Application?

[2021-02-09 17:14] yang-hai-feng commented on #1107
for the flow connector, which flow connector version did you used? @peolivei2, would you please have a look? customer's application id is: 110b00bb-4997-4ca5-b584-f527ff17839b.

[2021-02-09 19:28] peolivei2 commented on #1107
@wuwei3 for the Logic Apps, it should run automatically when your IoT Central rule triggers. Make sure you select the "Azure IoT Central V3" connector in Logic Apps, then the "When a rule is fired" trigger. It will ask you to select the application and rule to use. The rule must be enabled in IoT Central.

If the Logic Apps action still doesn't run automatically, please open a support ticket in Io

[2021-02-09 23:30] yang-hai-feng commented on #1109
@wuwei3 , this might be some mistake made on document update, patch body usually is partial of entity that PUT operation used.

[2021-02-10 02:04] wuwei3 commented on #1109
Ok, thanks for your help, you helped me a lot, thank you very much, you could close the issue.
And happy Chinese new year to you and your family.

[2021-02-10 02:06] wuwei3 commented on #1107
Correct, if I change to the email I register as azure account, it works.

[2021-02-10 02:10] wuwei3 commented on #1107
The email works for now, but If I want to trigger the rule, make the data goes to the topic, how should I do?

[2021-02-10 02:11] yang-hai-feng commented on #1109
Thanks @wuwei3, Happy Chinese New Year!

[2021-02-10 02:25] wuwei3 commented on #1107
@peolivei2

For rule trigger to topic, What I did are:

1. I selected "Azure IoT Central V3", and the "When a rule is fired"

![1](https://user-images.githubusercontent.com/46955295/107455275-84584100-6b89-11eb-8b56-2eac08f7359f.png)

I am confused at this, the "When a rule is fired" should connect to the rule trigger I want to select of IOT central, but it doesn't have any link, like if I click t

[2021-02-10 02:30] yang-hai-feng commented on #1107
@wuwei3 would you please try click "Change Connection" on "When a rule is fired" step, use your IoT Central User Account to login?
![image](https://user-images.githubusercontent.com/14871527/107456365-eb7fe200-6b04-11eb-82ec-5b4133b53925.png)

[2021-02-10 02:46] wuwei3 commented on #1107
@yang-hai-feng

![6](https://user-images.githubusercontent.com/46955295/107457267-b4edaa00-6b8c-11eb-8d02-02eb45af557e.png)

This is the problem I always encounter, the "orange_npit@163.com" is the register and login account I am using, how to do for make it correct?

I create the central with this account, and it is the "Administrator" role

![5](https://user-images.githubusercontent.com/46955295

[2021-02-10 03:03] yang-hai-feng commented on #1107
Looks like you need to add your account to your Azure Active Directory as well:

![image](https://user-images.githubusercontent.com/14871527/107458666-63e8a200-6b09-11eb-9c0e-04da8dc37d45.png)

Click the new guest user and see if you can add your email account to your directory.

[2021-02-10 03:16] wuwei3 commented on #1107
@yang-hai-feng

not work

![3](https://user-images.githubusercontent.com/46955295/107459504-4ced9280-6b91-11eb-94f0-01050a30ce16.png)

I tried "Create user" and "invite user", but both not working

[2021-02-10 03:34] yang-hai-feng commented on #1107
The first user list in your screenshot is the one that you used in Central Application, seems there is no error, not sure why when you login it shows you don't belong to this tenant, maybe try on InPrivate window on browser to login again and see if it works.

[2021-02-10 17:08] timtay-microsoft commented on #1109
Closing this issue as per the above

[2021-02-10 17:08] #1109 closed

[2021-02-10 19:38] yang-hai-feng commented on #1107
@wuwei3, would you please try to create a new user(not the guest user) on you directory, and add this user to your IoT Central application first, then you can go to your logic app designer choose "Change Connection" and sign in with new created user? one of my engineer told me that currently we don't support on guest user.

[2021-02-11 22:22] timtay-microsoft commented on #1032
I went ahead and pushed another branch with Gradle 4.1.2 and some small modifications to our proguard rules file and the sample seems to work for me. Can you give it a try and see if it works for you as well?

https://github.com/Azure/azure-iot-sdk-java/commit/47b63a5c60d50d86affadb038db1f88abf58d150

[2021-02-16 13:08] lukegore commented on #1054
I got the same error in a plain Android Studio project. I just copied [ProvisioningSymmetricKeyIndividualEnrollmentSample.class](https://github.com/Azure/azure-iot-sdk-java/blob/master/provisioning/provisioning-samples/provisioning-symmetrickey-individual-sample/src/main/java/samples/com/microsoft/azure/sdk/iot/ProvisioningSymmetricKeyIndividualEnrollmentSample.java) and call main function from Ma

[2021-02-16 21:13] timtay-microsoft commented on #1107
@wuwei3 do you still need any help on this issue?

[2021-02-18 01:58] wuwei3 commented on #1107
Sorry for the late replying, I am still on vocation now, I will try @yang-hai-feng said to me after 22nd Feb.

[2021-02-18 05:06] wuwei3 commented on #1107
@timtay-microsoft you could close this issue, I have commit another issue for SDK

[2021-02-18 05:21] wuwei3 opened #1123 "It seems that the device SDK connection not stable under mutiple thread"
# Context

- **OS and version used:**  Windows 10, and Ubuntu 18.04
- **Java runtime used:** 1.8
- **SDK version used:** iot-device-client-1.29.0.jar

## Description of the issue

  I have 10 simulation device, I want to report data (send temperature, humidity, CO2 data to the devices) every 7 mins, I used the Java thread pool to finish it, but it always throwing connection failed exception after

[2021-02-18 17:24] timtay-microsoft commented on #1107
Closing this issue as per the above

[2021-02-18 17:24] #1107 closed

[2021-02-18 17:28] timtay-microsoft commented on #1123
I'm a little confused by this error description. The code snippets and descriptions you provided are for the IoT Hub device client, but the exception stacktrace is for the Device Provisioning Service device client. Can you clarify which device client is in question here?

Also, when you mention that you are using multiple threads, can you clarify if you are using multiple threads per provisioning

[2021-02-18 17:37] timtay-microsoft commented on #1123
If the issues is with the Device Provisioning Service device client, then here are some relevant throughput quotas that you may be hitting:

![image](https://user-images.githubusercontent.com/28789848/108397270-a165c300-71cc-11eb-9941-83fa8d31dd60.png)

This would suggest a throughput issue to me, not a network issue. If the Device Provisioning Service is overloaded with a lot of requests at once,

[2021-02-19 04:22] wuwei3 commented on #1123
Sorry, it was my fault, I was using the IOT central and the 10 devices are registering in central hub, not the IOT hub.
But based on the sample of the azure provided in github,

 https://github.com/Azure/azure-iot-sdk-java/blob/master/device/iot-device-samples/pnp-device-sample/thermostat-device-sample/src/main/java/samples/com/microsoft/azure/sdk/iot/device/Thermostat.java

it needs to use the io

[2021-02-19 04:25] wuwei3 commented on #1123
Yes,  I saw this, but I just have only 10 devices and connect in every 7 mins, it is lower than the throughput, so I think it should not be appearing this error.

[2021-02-19 12:06] jonasbark commented on #1104
@timtay-microsoft I updated my code like this:
[code]
and the issue still exists, unfortunately.

My use case is this: I don't want to keep an open device connection all the time so just when I want to update the reported properties of a device I'll open a new connection, start the device twin and wait for connection - finally sending the reported properties. And disconnecting right afterward.

I

[2021-02-19 17:00] timtay-microsoft commented on #1032
@devzeze does the proguard rules file in the above commit work for you as well?

[2021-02-19 23:11] timtay-microsoft commented on #991
We're taking a lot at this issue now, so I'll keep you posted.

[2021-02-19 23:12] timtay-microsoft commented on #1035
We're taking a look at this issue now, so I'll keep you posted

[2021-02-19 23:20] timtay-microsoft commented on #1123
Interestingly, the maximum wait time for the timeout that you are hitting is only [1 second](https://github.com/Azure/azure-iot-sdk-java/blob/da9084a0d2081cad80115599541fc64b9eb313c4/deps/src/main/java/com/microsoft/azure/sdk/iot/deps/transport/mqtt/MqttConnection.java#L33). I'm not sure why the SDK would impose such a short timeout on subscribing to a topic. The load that you are imposing on the

[2021-02-22 12:02] devzeze commented on #1032
@timtay-microsoft I can confirm provisioning works in my setup with those rules.

Thank you!

[2021-02-22 16:36] Hollerweger commented on #239
I have same issue with the JAVA SDK.

Found following pattern:
- Registration after Group Enrollment - **No individual Enrollment**
  - Device Registration **requires intermediate certificate** to be passed
  - When only Leaf cert and key is used in SecurityProvider then following error is then returned: "CA certificate not found."
- Registration after **Individual Enrollment**
  - Device registra

[2021-02-22 16:51] timtay-microsoft opened #1127 "[feature request] Twin Service Client Patch API"
The current twin service client exposes one way to update a twin, and it uses the service's PATCH API, but it forces the user to send the full twin as a part of the PATCH request. As a result, device client's subscribed to twin will receive superfluous properties in their desired property updates.

The twin service client should expose a PATCH API that only sends the changed properties.

AB#937621

[2021-02-22 16:52] timtay-microsoft commented on #1127
#719 is a relevant feature request in this, too.

[2021-02-22 17:15] timtay-microsoft commented on #1104
Can you provide a simple project that repro's this error?

[2021-02-22 19:45] timtay-microsoft commented on #1032
I'm glad to hear it! I'll go ahead and close this issue then

[2021-02-22 19:45] #1032 closed

[2021-02-23 17:44] timtay-microsoft commented on #780
This does appear to be a bug. #1128 should provide the fix for this issue.

[2021-02-23 19:39] timtay-microsoft commented on #742
I'm following up on this new information, and from what I can tell so far, it was [this](https://github.com/apache/qpid-proton-j/commit/5a2631dcfa750287c4506097a625ab020018330c) commit in the proton-j project that broke this feature for us. Since we can send messages up to the expected message size over AMQP just fine, it is likely just an issue between our websocket extension and proton-j. I'll k

[2021-02-23 22:50] timtay-microsoft commented on #742
Thankfully proton-j allows us to configure the value that had it's default value changed by [this commit](https://github.com/apache/qpid-proton-j/commit/5a2631dcfa750287c4506097a625ab020018330c) that caused this bug. #1129 will basically revert that change which re-enables sending messages of up to 256 kB over AMQPS_WS

[2021-02-25 00:18] timtay-microsoft commented on #1035
Device client version 1.29.2 has fixed this issue, so I'm closing this issue

[2021-02-25 00:18] #1035 closed

[2021-02-25 00:19] timtay-microsoft commented on #1123
The overly short timeout issue has been fixed as of provisioning device client 1.8.7, so I'm closing this issue. If you still see any issues around this workflow, feel free to open a new issue

[2021-02-25 00:19] #1123 closed

[2021-02-25 00:20] timtay-microsoft commented on #780
tpm provider version 1.1.3 has fixed this issue, so I'm closing this issue

[2021-02-25 00:20] #780 closed

[2021-02-25 00:20] timtay-microsoft commented on #742
Device client version 1.29.2 has fixed this issue, so I'm closing this issue. AMQPS_WS can now send messages up to the 256 kB message size limit that IoT Hub itself imposes.

[2021-02-25 00:20] #742 closed

[2021-02-25 00:21] timtay-microsoft commented on #991
Device client version 1.29.2 has fixed this issue, so I'm closing this issue. If you still see any unusual exceptions from the MQTT layer, feel free to open a new issue.

[2021-02-25 00:21] #991 closed

[2021-02-25 00:25] timtay-microsoft commented on #728
Closing due to lack of demand. We'll revisit this feature at a later date

[2021-02-25 00:49] timtay-microsoft commented on #589
Closing this issue as we don't plan on deprecating and replacing these APIs with better capitalization, but we have since added some Javadocs to clarify these interfaces/callbacks

[2021-02-25 00:49] #589 closed

[2021-02-25 01:03] timtay-microsoft commented on #1054
This may be an issue with you mixing iot-device-client:1.29.1 with provisioning-device-client:1.8.4. Both libraries have a dependency on different versions of the iot-deps package. Upgrading your provisioning-device-client to 1.8.6 (or the just released 1.8.7) may resolve this issue for you

[2021-02-25 02:08] wuwei3 commented on #1123
@timtay-microsoft , have you pushed the latest to maven repository?

[2021-02-25 07:33] liushengqiang commented on #1054
I added following dependencies:
    implementation 'org.apache.commons:commons-lang3:3.6'
    implementation 'com.microsoft.azure.sdk.iot:iot-device-client:1.28.0'
    implementation 'com.microsoft.azure.sdk.iot.provisioning:provisioning-device-client:1.8.7'
    implementation 'com.microsoft.azure.sdk.iot.provisioning.security:security-provider:1.4.0'
it don't work:
2021-02-25 15:29:16.827 6642-66

[2021-02-25 08:28] liushengqiang commented on #1054
I added following dependencies:
    implementation 'org.apache.commons:commons-lang3:3.6'
    implementation 'com.microsoft.azure.sdk.iot:iot-device-client:1.28.0'
    implementation 'com.microsoft.azure.sdk.iot.provisioning:provisioning-device-client:1.8.7'
    implementation 'com.microsoft.azure.sdk.iot.provisioning.security:security-provider:1.4.0'
the same error:
2021-02-25 16:26:16.982 25859-

[2021-02-26 09:30] liushengqiang commented on #1054
it has work after add this dependency. thanks!

[2021-02-26 17:47] timtay-microsoft commented on #1054
Good to hear. I'll go ahead and close this issue then

[2021-02-26 17:47] #1054 closed

[2021-03-02 01:38] mattixtech opened #1135 "File Descriptor leak on open() when using AMQPS protocol"
# Context
Calling `open()` on the IoT hub device client leaks file descriptors when unable to connect when the AMQPS protocol is used.

- **OS and version used:** macOS 11.1, Ubuntu Core 18, Ubuntu Core 20
- **Java runtime used:** tested w/ Java 1.8 & Java 11
- **SDK version used:** 1.29.2

## Description of the issue
When attempting to `open()` the IoT device client connection when the network is

[2021-03-02 02:20] timtay-microsoft commented on #1135
The open call to a device client doesn't have retry logic, so can you clarify the scenario a bit more? Is it that a file descriptor is leaked when you call open and the open isn't successful, or is it leaked during reconnection logic on a previously established connection?

[2021-03-02 02:21] timtay-microsoft commented on #1135
Ah, I just saw your sample code. So the issue here is just when you try to open a device client that previously failed to open. We'll try to look into this soon. Thanks for filing the issue!

[2021-03-02 02:22] mattixtech commented on #1135
Ultimately if there is no network connection, the call to `open()` fails with an exception and the leak happens at this point.

Calling `closeNow()` or not seems to make no difference, instantiating a new client also has the same problem since the original instance has alread leaked.

[2021-03-02 02:24] mattixtech commented on #1135
One more thing to point out, the issue isn't necessarily calling open on a client that previously failed. If you create a new client on each failure it still leaks so the leak seems to happen on the first failed attempt not only on subsequent attempts.

[2021-03-02 16:55] timtay-microsoft commented on #1135
Yep, looks like the exception handling logic in the AMQP open call does fail to free the proton-j reactor if it encounters an exception, so this is definitely a bug in this SDK. The fix should be checked in soon

[2021-03-02 16:58] mattixtech commented on #1135
Glad to hear you have identified the cause, looking forward to being able to try out the fix. Thanks!

[2021-03-02 23:36] mattixtech commented on #1135
Thanks @timtay-microsoft for looking at this so quick! I hope to get a chance to build the fix and give it a spin soon. Also not sure if you saw but I had a couple comments in the PR regarding a potential other case where this may occur (maybe it is a non-issue): https://github.com/Azure/azure-iot-sdk-java/pull/1136#issuecomment-789157967

[2021-03-03 00:13] timtay-microsoft commented on #1135
@mattixtech good point. I'll go ahead and open another PR for that fix as well. I do see that the reactor isn't always free'd there, too. #1136 should ensure that the close logic behaves similarly to the open logic

[2021-03-03 10:38] DerSchwilk opened #1138 "[Feature Request] DeviceClient crashes on receiving AMQP message with body as AMQPValue"
# Context

- **OS and version used:** Ubuntu 20.04.2 LTS
- **Java runtime used:** 11.0.6
- **SDK version used:** iot-device-client:1.29.2

## Description of the issue
1. I create a DeviceClient via AMQP_WS and open the connection
2. I set a MessageCallback to the client to log incoming messages.
3. I send an AMQP message via [Eclipse Ditto](https://github.com/eclipse/ditto) AMQP to my Azure IoT Hu

[2021-03-03 15:50] mattixtech commented on #1135
@timtay-microsoft thanks a lot for the quick turnaround on this issue. What is the timeline like in for getting a new release of the device client published that we can depend on that contains the fixes?

[2021-03-03 16:35] timtay-microsoft commented on #1138
This strikes me as a bit of an odd use case. Is there a reason why you are sending messages to the device client via Eclipse Ditto rather than using the service client's cloud to device message functionality?

[2021-03-03 16:38] timtay-microsoft commented on #1135
I'll try to get a release with this fix out before the end of this week. Would that work for you?

[2021-03-03 16:39] timtay-microsoft commented on #1138
Marking this as an enhancement because this SDK isn't really designed to handle arbitrary AMQP messages from arbitrary senders.

[2021-03-03 16:40] mattixtech commented on #1135
Yes, thanks!!

[2021-03-03 22:35] timtay-microsoft commented on #1127
After further examination, the current ```updateTwin``` API does not force you to provide the full twin, per se. While the design of the API is a bit questionable, I was able to patch a twin using code like the below:

[code]

The confusing point here is just that typically a user is expected to hold onto an instance of a DeviceTwinDevice, update it in place, and feed it into these twin service cl

[2021-03-03 22:35] #1127 closed

[2021-03-03 22:48] timtay-microsoft commented on #719
I'm looking to finally get this feature in soon. I'm aiming to release it alongside the other issue that you filed.

[2021-03-04 06:03] DerSchwilk commented on #1138
In this use-case I'm using the Ditto Digital-Twin representation for my devices and the Hub more as a broker. Messages are sent from my service to Ditto which then publishes the message via AMQP to the Hub. Regarding devices telemetry data, this is received by Ditto from the Hub, the Ditto digital-twin is updated and events are emitted to my service.
Thus my service interacts with Eclipse Ditto, w

[2021-03-04 08:47] FinitelyFailed opened #1140 "[Technical Question] Java callback in Kotlin is never called"
Hi, I trying to use this sdk in an Android-app, written in Kotlin. My issue is described in [stack overflow](https://stackoverflow.com/questions/66366182/java-callback-in-kotlin-is-never-called) as well.

I'm trying to connect to Azure DPS and Azure IoT hub using this example: https://github.com/Azure/azure-iot-sdk-java

I'm developing an Android app using Kotlin. I copied the code from the link a

[2021-03-04 19:05] timtay-microsoft commented on #1140
Are you able to capture the SDK logs that are logged via SLF4j? That would significantly help to debug this issue

[2021-03-04 19:41] timtay-microsoft commented on #1140
And do you see consistent behavior when you use AMQP or MQTT rather than HTTP?

[2021-03-04 19:53] timtay-microsoft commented on #1135
Closing this issue as this bug has been fixed as of Device Client version 1.29.3. Feel free to open another issue if you still see any other leaks

[2021-03-04 19:53] timtay-microsoft commented on #719
Closing this issue as this feature has been released as of Service Client version 1.28.0

[2021-03-04 19:53] #719 closed

[2021-03-04 19:54] timtay-microsoft commented on #1123
Yep! https://search.maven.org/artifact/com.microsoft.azure.sdk.iot.provisioning/provisioning-device-client/1.8.7/jar

[2021-03-05 19:13] timtay-microsoft commented on #1138
This scenario seems too out of scope to support. The reason the AMQP layer casts the message payload as Data is because IoT Hub will always send AMQP messages with Data payloads. Adding handling for AmqpValue payloads doesn't fit well with this SDK's responsibilities, so I'm marking this as "won't fix"

[2021-03-05 19:13] #1138 closed

[2021-03-08 15:13] mattixtech commented on #1135
Hi @timtay-microsoft, I just tested out 1.29.3 and I'm still running into the same issue. Appears that it is still occurring in both the example code I provided as well as our application. Should I open a new issue?

[2021-03-08 22:29] timtay-microsoft commented on #1135
My apologies, there was a small mistake I made with the previous fix. #1147 should fix the leaked resources from a failed open call part of this issue. The leaked threads from a failed close call should be fixed by the last release though. Can you confirm that you are seeing at least the latter working as expected?

[2021-03-08 22:43] mattixtech commented on #1135
In the case of opening and closing a connection without a failure it looks like the resources are released.

In terms of testing the case where a `close()` call failed, I don't think I have an easy way to verify that.

[2021-03-08 22:52] timtay-microsoft commented on #1135
Gotcha, that would be tricky to invoke. Feel free to build from source on the branch for #1147 to test out the failure case then. From my initial testing, it works.

[2021-03-10 07:46] FinitelyFailed commented on #1140
I have tried using AMQP, MQTT and HTTP. Same result. I think that I'm doing something wrong. As I can set a breakpoint in:
[code]

Inside ProvisioningTask.java. That breakpoint is reached and values such as `registrationInfo `looks correct. And it looks like `this.provisioningDeviceClientRegistrationCallback` is set correctly. (Android Studio warns me that "Library source does not match the byteco

[2021-03-10 14:45] FinitelyFailed commented on #1140
I made a Java class based on the sample instead of the Kotlin-version i posted earlier. And that works nicely. There seems to be some kind of issue with the callbacks when using Kotlin.

[code]

[2021-03-10 17:47] timtay-microsoft commented on #1140
Are you minifying this SDK using Proguard by chance? There are some known issues with this SDK that require special Proguard exclusions.

https://github.com/Azure/azure-iot-sdk-java/issues/1032

[2021-03-10 20:43] ynjacobs opened #1150 "Could not resolve dependencies for project com.microsoft.azure.sdk.iot:iot-e2e-common:jar:0.26.0"
Thanks for this library!

I am trying to run the android code in `iot-e2e-tests` but I keep getting an error when I try to run `mvn install`:
[code]
I followed the solution in https://github.com/Azure/azure-iot-sdk-java/issues/204, re cloning the repo and running `mvn clean install` from the root folder.  When I tried running the android code I got:
[code]
So I then ran `mvn install` from `iot-e2e

[2021-03-10 21:25] timtay-microsoft commented on #1150
After you run ```mvn install``` from the root, does the ```azure-iot-sdk-java/iot-e2e-tests/common/target/``` folder have anything in it?

[2021-03-10 23:26] ynjacobs commented on #1150
Hi @timtay-microsoft thanks for your reply.
No I don't see anything in it, I actually don't even see the folder. Should I manually add a target folder?

[2021-03-10 23:37] ynjacobs commented on #1150
Thank you! I don't see a file like this in the android folder.

I see `renew_env.cmd` and `runTestsOnThings.cmd` and then `build.gradle` files.

[2021-03-10 23:39] timtay-microsoft commented on #1150
Here's the link from above: https://github.com/Azure/azure-iot-sdk-java/blob/master/vsts/gradle_build.cmd

It may have been a little hard to see since I hyperlinked it

[2021-03-11 08:44] jonasbark opened #1151 "[feature request] Update reported property of a device without starting a device twin"
**Is your feature request related to a problem? Please describe.**
A related issue is this:

**Describe the solution you'd like**
I'd like to update reported properties without having to start a device twin.

**Describe alternatives you've considered**
Currently I'm using the alternative to start the device twin, then send the reported properties:
[code]
when using MQTT it will cause this issue:
[

[2021-03-11 10:51] FinitelyFailed commented on #1140
I added the progaurd rules from the issue you linked to:
[code]

I also tried these gradle-settings:
[code]

It didn't help.

[2021-03-11 15:28] ynjacobs commented on #1150
Thank you! In the android app I downloaded, I don't see a file like `gradle_build.cmd`

[2021-03-11 19:20] timtay-microsoft commented on #1150
A successful ```mvn install``` should have created them for you, so this is a bit odd. Is the ```mvn install``` succeeding? Does it help to skip tests with ```mvn install -DskipTests``` instead?

[2021-03-11 19:42] ynjacobs commented on #1150
It's start ok but when it gets to the Tests it errors.
Here is part of the log(it is much longer in reality):
[code]
[code]

[2021-03-11 19:43] timtay-microsoft commented on #1150
There's really no need for you to run all these unit tests anyways, so try ```mvn install -DskipTests``` from the root instead of ```mvn install```

[2021-03-11 19:52] ynjacobs commented on #1150
Thank you! I tried running that but I'm getting:
[code]

[2021-03-11 20:08] timtay-microsoft commented on #1150
Looks like you are missing the environment variable that defines the JDK that maven will use. See more here https://docs.oracle.com/cd/E19182-01/820-7851/inst_cli_jdk_javahome_t/index.html

[2021-03-11 20:40] timtay-microsoft commented on #1151
For some context here, the reason that the SDK requires you to start the twin before sending any reported properties is because the service won't fully respond to reported properties sent by a client unless the client is subscribed to desired property updates already. The service will send the basic AMQP ack upon receiving the reported property message, but it won't send the response message that

[2021-03-11 20:57] jonasbark commented on #1151
That's good to know - I tried my luck with reflection but now I see why it said it succeeded but the reported properties were never applied.

Thank you for the code example - I'll have a try.

I'm not entirely sure if I understand the question correctly, so I'll try to explain:
The IOT Edge device part is connected through AMQPS already and stays connected at all times. When I'm trying to start th

[2021-03-11 21:03] ynjacobs commented on #1150
Thanks so much for your help!

[2021-03-11 22:13] timtay-microsoft commented on #1151
IoT Hub only allows a single device identity to have 1 open connection at a time. It sounds like you have both the edge device and the child device using the same device identity. Am I understanding that correctly, though? If so, I'd recommend that each physical device has its own distinct identity rather than sharing one device identity across multiple physical devices.

[2021-03-11 22:41] timtay-microsoft commented on #1150
Is the maven install working now that you have the JAVA_HOME variable set?

[2021-03-12 07:08] jonasbark commented on #1151
Each device has its own IOT hub device, so that wouldn't be the issue. I assume that multiple AMPQS concurrent connections to different devices are supposed to work without issues?

My current workaround regarding that issue is to have the IOT Edge device connect via MQTT and the child devices connect via AMPQS - that works okay-ish.

[2021-03-12 16:44] timtay-microsoft commented on #1151
A single physical device can open any number of connections to IoT Hub as long as each connection uses a unique device identity that no other physical device currently has a connection open for. Multiple physical devices can have open connections to IoT Hub at the same time under the same restrictions, yes.

I'm curious why you have to do that. What errors are you seeing from the SDK if both the E

[2021-03-12 16:51] jonasbark commented on #1151
This one:
[code]
Please note that this exception was thrown in the IOT Edge Device connection which ultimately rendered the whole IOT edge device useless. I can understand that this error would be thrown in my use case (connecting multiple child devices) due to not properly closing a connection but it really wasn't.
That's why I assumed that more than one AMPQS connections (with different device I

[2021-03-12 17:00] timtay-microsoft commented on #1151
That exception should only be thrown if your Edge device has opened a connection with a device identity when another connection with that identity is already active. I'd double check that each device is only opening the connections you'd expect

[2021-03-12 21:19] timtay-microsoft commented on #1135
Device Client version 1.29.4 has been released with the fix for this issue. Can you confirm that you aren't seeing any leaked file descriptors on your end after upgrading?

[2021-03-12 21:40] mattixtech commented on #1135
Hey, thanks a lot for releasing a new version. I wasn't able to get around to testing it yet but I will try to report back ASAP early next week.

[2021-03-15 17:53] timtay-microsoft commented on #1135
Can you share the exception stacktrace that you see when you run your example code? When I disable my internet and run that code, I see something like

[code]

[2021-03-15 18:04] mattixtech commented on #1135
[code]

[2021-03-16 01:12] timtay-microsoft commented on #1150
Closing this issue due to a lack of activity

[2021-03-16 01:12] #1150 closed

[2021-03-16 01:13] timtay-microsoft commented on #1104
Closing due to lack of a repro

[2021-03-16 01:13] #1104 closed

[2021-03-16 14:50] Eugeniu-N opened #1154 "[Bug Report] DeviceClient's open() times out if C2D message queue is full"
# Context

- **OS and version used:** Windows 10
- **Java runtime used:** 1.8
- **SDK version used:** maven dependency:
<groupId>com.microsoft.azure.sdk.iot</groupId>
<artifactId>iot-device-client</artifactId>
<version>1.29.3</version>

## Description of the issue
I used the service client on another project and filled my C2D message queue completely (50 messages), obviously when I try to send mor

[2021-03-16 19:06] timtay-microsoft commented on #1135
After digging into this a bit further, I can confirm that the issue is still present, yes, and it impacts windows and linux as well as MacOS. I can also confirm that the IoT Hub service client also has this same issue. I'm still digging into why freeing the reactor isn't sufficient for releasing these resources though

[2021-03-17 19:02] timtay-microsoft commented on #1135
After even further digging, this is beginning to look like a bug in our AMQP library proton-j. I can't write even a basic sample amqp connection that handles this scenario without leaking file descriptors. I went ahead and filed a bug on the proton-j library itself [here](https://issues.apache.org/jira/browse/PROTON-2349) and will be monitoring this closely

[2021-03-17 20:54] timtay-microsoft commented on #1154
I have been able to repro this, so it does look like a bug in this SDK

[2021-03-17 23:35] timtay-microsoft commented on #1151
Is there anything else I can help you with on this issue, @jonasbark?

[2021-03-18 05:33] jonasbark commented on #1151
With the workaround from https://github.com/Azure/azure-iot-sdk-java/issues/1151#issuecomment-797034125 it works okayish.

I'm still seeing internal errors, such as
[code]
but I see you already closed https://github.com/Azure/azure-iot-sdk-java/issues/1104 due to lack of repo, which I don't quite understand.

Regarding this issue itself: I would still like to update the reported properties with th

[2021-03-18 16:02] jinyanghuang opened #1157 "[Technical Question] Why does DeviceTwinDevice doesn't support deviceScope property"
I am using iot-service-client. I am trying to fetch the deviceScope of all io-device. However, the DeviceTwinDevice doesn't have that property. My code is as follow

[code]

AB#9552710

[2021-03-18 16:20] abhipsaMisra commented on #1157
The device scope property is available under the `Device` object that can be retrieved using the `RegistryManager`: https://github.com/Azure/azure-iot-sdk-java/blob/master/service/iot-service-client/src/main/java/com/microsoft/azure/sdk/iot/service/Device.java#L192
This would require you to fetch the `Device` instance from either the retrieved twin instance or through a device Id (if you have one

[2021-03-18 16:24] jinyanghuang commented on #1157
Thanks, can you provide an example? I don't have a device Id. I would like to retrieve all devices' deviceScope?

[2021-03-18 16:36] abhipsaMisra commented on #1157
You can use the following code:

[code]

[2021-03-18 16:40] jinyanghuang commented on #1157
Thanks so much. That worked

[2021-03-18 16:40] #1157 closed

[2021-03-22 18:48] jinyanghuang opened #1162 "[Technical Question] How do I set an array desired property"
The structure of my desired property is like
[code]
I would like to update the specific channel. For example, update the 'enabled' of first one to `true` My code is as follow
[code]
However, I am getting this error `Provided json is not a valid 'tags' or 'properties' object: arrays are not supported`
How should I do that?

AB#9572427

[2021-03-22 18:59] jinyanghuang commented on #1162
Solved this after updating the library version. But if I just update 1, the rest will be disappeared. Is it possible to just update the specific one?

[2021-03-22 19:42] jinyanghuang commented on #1162
Solved this myself. Basically just retrieve all the channels and loop through them, then change the specific one.

[2021-03-22 19:42] #1162 closed

[2021-03-23 15:32] jonasbark commented on #1151
Here's a new exception that is happening even with the workaround:
[code]

[2021-03-24 18:25] timtay-microsoft opened #1164 "[Bug Report] IoT Hub device client MQTT layer does not use a renewed SAS token when reconnecting"
This is a regression that only affects device client versions 1.29.2, 1.29.3, and 1.29.4

When reconnecting after a previous SAS token has expired, the above device client versions will attempt to connect using the old SAS token rather than creating a new one. As a result, reconnection will fail with an Unauthorized exception

AB#9588401

[2021-03-24 18:25] timtay-microsoft commented on #1164
I'll get the fix for this in ASAP

[2021-03-29 06:25] motoxyz opened #1166 "Method to get the callback for sendReportedProperties(Set<DeviceTwin.Property> reportedProperties)"
First, we are using sendReportedProperties(Set<DeviceTwin.Property> reportedProperties) function to send reported device twin to iothub. It worked in almost every time except there are a scenario that the reported device twin are not received by iothub. But in client side, we dont know whether the reported device twin are successfully sent out or not.

It mostly happened when LTE or Wifi connectio

[2021-03-30 09:45] MickeyMouseS opened #1167 "Client connection with HTTPs always throw TLS certificate exception"
Every connection using HTTPs to IoT Hub using a intermediate IoT Edge with autogenerated certificates throw an error when validating the certificate. The certificate have been installed in cacerts (all versions of java installed), system and private trust stores (using them with -Djavax.net.ssl.trustStore).

For other protocols (MQTT), setting the path to proper certificate solves the problem, but

[2021-03-31 20:10] jamdavi commented on #1166
@motoxyz I believe if there is an issue with the underlying connection call you should get an IOException from the call. Are you saying that IoT Hub is giving back a non ok message and we're not reporting it?

[2021-04-01 03:39] motoxyz commented on #1166
@jamdavi Able to get the status from below callback function when iothub received the reported device twin.

    protected static class DeviceTwinStatusCallBack implements IotHubEventCallback
    {
        @Override
        public void execute(IotHubStatusCode status, Object context)
        {
            Succeed.set((status == IotHubStatusCode.OK) || (status == IotHubStatusCode.OK_EMPTY));

[2021-04-08 11:26] jonasbark opened #1169 "[Technical Question] registryManager.getDevices() is deprecated, replacement does not include symmetric keys"
registryManager.getDevices() is deprecated, naming
[code]
as replacement.

This is the output of registryManager.getDevices() that includes the symmetric key:

[code]

And this is the output of the DeviceTwin.queryTwin:
[code]
The latter does not include the symmetric key. What am I to use as a replacement to query multiple devices that include the key in the output?
I don't wish to call registryM

[2021-04-08 17:39] vinagesh commented on #1169
We will investigate and get back to you with the details.

[2021-04-12 12:59] sunilpatra1990 opened #1170 "[Azure IoT Service Client] JAVA SDK RegistryManager.addDevice throwing Exception"
Hi Team,

We are using **JAVA SDK : iot-service-client 1.25.0** . During peak load , we are observing following exception while doing RegistryManger.addDevice().

Could you please assist what could be the reason and when this exception is thrown from SDK.

**Error Message**
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><TITLE>Length Required<

[2021-04-14 17:14] jamdavi commented on #1166
@motoxyz sorry for the delay here, I went on vacation and this wasn't picked up. I'll take a look at this today and see if there is an enhancement or better way to do this.

[2021-04-15 16:53] vinagesh commented on #1169
Hey, after doing some more investigation, your options are to either do a GET on every ID or you could choose to use the registry export job, which would include the symmetric keys for every device. There is no exact replacement for the deprecated GetDevices() API.

[2021-04-19 09:08] marichka-spin opened #1177 "Its unable to serialize devices correctly for bulk import"
According to the allowed azure documentation and examples, in order to perform bulk import of devices into azure iot hub each device should be serialized to json. I've tried to perform bulk import couple of times and then I tried to perform export first. What I've got? example of exported devices:
`{"id":"d8494cb9-2271-499d-9bf3-037f9bc7f9ef","eTag":"MTA0NDQxMTE5Nw==","status":"enabled","statusRea

[2021-04-19 18:12] timtay-microsoft commented on #1177
We have a pair of samples that should help demonstrate what you are trying to do:

[For importing devices](https://github.com/Azure/azure-iot-sdk-java/blob/master/service/iot-service-samples/device-manager-sample/src/main/java/samples/com/microsoft/azure/sdk/iot/DeviceManagerImportSample.java)

[For exporting devices](https://github.com/Azure/azure-iot-sdk-java/blob/master/service/iot-service-samp

[2021-04-20 06:17] marichka-spin commented on #1177
Thank you a lot - it helps

[2021-04-20 06:22] #1177 closed

[2021-04-20 16:56] vinagesh commented on #1169
I know this might be a bit inconvenient usage wise, but these are the only options that are available now. We will try to investigate if the experience can be improved in the future.

[2021-04-20 16:56] #1169 closed

[2021-04-20 17:00] jonasbark commented on #1169
Okay, thank you for taking care 👍

[2021-04-22 05:51] sanjay-90210 opened #1182 "[feature request] Device Client File upload APIs don't include IoT Hub status codes in thrown exceptions"
**Is your feature request related to a problem? Please describe.**

While using DeviceClient.getFileUploadSasUri, the real cause of the issue is hidden and a generic IOException with the message "Sas URI response message had no payload" is thrown. This hides the real issue that caused the empty payload and so programmatically addressing the exception is a lot of guess work or near impossible.

The

[2021-04-22 07:39] sanjay-90210 opened #1183 "[Bug Report] Thread leak on authentication failure in TransportClient multiplexed connection"
# Context

- **OS and version used:** Ubuntu 16.04.7 LTS
- **Java runtime used:** openjdk version "1.8.0_282"
OpenJDK Runtime Environment (build 1.8.0_282-8u282-b08-0ubuntu1~16.04-b08)
OpenJDK 64-Bit Server VM (build 25.282-b08, mixed mode)

- **SDK version used:** iot-device-client 1.29.4

## Description of the issue
When one or more devices that are multiplexed onto a single AMQP transport has a

[2021-04-22 14:48] jamdavi commented on #1166
@motoxyz You are correct that there is no way to make this work currently.

I've spent some time looking at how to do this and I think this will result in a feature request and require a fair amount of changes to the SDK so it supports the current way and the requested way.

[2021-04-23 18:31] timtay-microsoft commented on #1182
Sure, it seems reasonable to nest an IotHubServiceException within the IOException in this context. I'll do the same for the completeFileUpload function as well since it seems to have the same issue of ignoring the service status code for non 200 level codes

[2021-04-23 18:59] timtay-microsoft commented on #1183
TransportClient is the deprecated multiplexing client for this SDK, so I'd advise you to switch to the [MultiplexingClient](https://github.com/Azure/azure-iot-sdk-java/blob/767389dd24124d825201602f1499da454bf0fddf/device/iot-device-client/src/main/java/com/microsoft/azure/sdk/iot/device/MultiplexingClient.java#L35) which does not have this same issue from my initial testing.

Here is what your cod

[2021-04-23 19:01] timtay-microsoft commented on #1183
The MultiplexingClient has much better retry logic and error handling as well. For additional details, we have a pretty in-depth sample [here](https://github.com/Azure/azure-iot-sdk-java/blob/master/device/iot-device-samples/multiplexing-sample/src/main/java/samples/com/microsoft/azure/sdk/iot/MultiplexingSample.java) for your reference

[2021-04-24 13:18] sanjay-90210 commented on #1183
@timtay-microsoft - Thank you

Sorry, I was not aware of the multiplexing client at all. This is good to know, I will try out the new mechanism. I wanted to ask about the registration issue with multiplexed transport as it does not allow device addition/deletion once opened. It also does not give any meaningful exception if one or more devices out of the 100s of multiplexed devices run into an aut

[2021-04-24 13:20] sanjay-90210 commented on #1182
@timtay-microsoft - Thank you

[2021-04-26 15:36] timtay-microsoft commented on #1183
Yes, the service itself does not support multiplexing for x509 devices, so both the deprecated TransportClient and current MultiplexingClient have the same limitation

[2021-04-26 15:37] timtay-microsoft commented on #1183
The MultiplexingClient does allow for adding/removing devices from the multiplexed connection at all times, unlike the TransportClient

[2021-04-26 15:58] timtay-microsoft opened #1187 "[Bug Report] MultiplexingClient closes connection if its only registered device drops its AMQP session"
This check assumes that the set of configs being greater than 1 signals that the layer is multiplexing, but it is possible to open a multiplexed connection that only has 1 config in that list for a time.

https://github.com/Azure/azure-iot-sdk-java/blob/767389dd24124d825201602f1499da454bf0fddf/device/iot-device-client/src/main/java/com/microsoft/azure/sdk/iot/device/transport/amqps/AmqpsIotHubConn

[2021-04-27 10:23] sanjay-90210 opened #1188 "[Bug Report] MultiplexingClient does not notify state properly"
# Context

- **OS and version used:** Ubuntu 16.04.7 LTS
- **Java runtime used:** openjdk version "1.8.0_282"
OpenJDK Runtime Environment (build 1.8.0_282-8u282-b08-0ubuntu1~16.04-b08)
OpenJDK 64-Bit Server VM (build 25.282-b08, mixed mode)
- **SDK version used:** iot-device-client 1.29.4

## Description of the issue

**Devices:**

    1. GOOD     - Enabled and working device with proper connect s

[2021-04-27 10:28] sanjay-90210 commented on #1183
I have added the multiplex client related issues under the issue [1188](https://github.com/Azure/azure-iot-sdk-java/issues/1188)

[2021-04-29 16:42] timtay-microsoft commented on #1183
With that in mind, would you object to me closing this thread? Considering the TransportClient is deprecated and has a replacement, I don't have any plans to provide bug fixes to it.

[2021-04-30 14:24] jamdavi commented on #1166
@motoxyz The fix has been checked in to master. There is a release started, but it is on hold for review with some other teams. I will work with the group to get this change added to the next release.

[2021-05-03 17:52] timtay-microsoft commented on #1188
Just to make sure we're both on the same page, the connection state callback for device-level events (i.e. device disabled) only reflects in the device client level connection status callback.

For instance, if you have a multiplexed connection with 5 devices on it, and you disable one of these devices from the service side, the expected behavior is that the connection status callback tied to that

[2021-05-04 14:35] motoxyz commented on #1166
Thanks for the fix. I tried to run the DeviceTwinSample.java and able to print out the callback.
May I know what is the version it will be released for picking up this fix?
com.microsoft.azure.sdk.iot:iot-device-client

[2021-05-05 01:06] bikamani commented on #1170
@sunilpatra1990 Apologize for delayed response. Thinking more about this, from what you are describing it is happening only during peak load and not always so I don't think content length is mandatory or will fix the issue as I had initially thought. Also confirmed with service team that content length is not required. The best route here is to open a support ticket (incident) so our service team

[2021-05-06 08:56] sanjay-90210 commented on #1188
**Just to make sure we're both on the same page, the connection state callback for device-level events (i.e. device disabled) only reflects in the device client level connection status callback.**
Yes, I actually want it to work that way, but things do not work that way.

The primary issue is that once mux is opened, it should be put into connected state. This call does not seem to happen. A call

[2021-05-06 08:58] sanjay-90210 commented on #1183
Sure, you can close this issue as this mechanism is deprecated. I also do not have a load of issues with this as the thread exits after a while. I am still using this as the multiplexing client has more issues that this at this time.

[2021-05-06 17:39] jamdavi commented on #1166
@motoxyz The fix has been released in the latest release. You can find it here:

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-5-5

[2021-05-06 18:34] timtay-microsoft commented on #1187
Closing this issue as the fix has been released as of device client version 1.30.0

[2021-05-06 18:34] #1187 closed

[2021-05-06 18:34] timtay-microsoft commented on #1182
Closing this issue as the fix has been released as of device client version 1.30.0

[2021-05-06 18:34] #1182 closed

[2021-05-06 18:34] timtay-microsoft commented on #1166
Closing this issue as the fix has been released as of device client version 1.30.0

[2021-05-06 18:34] #1166 closed

[2021-05-06 18:34] timtay-microsoft commented on #1164
Closing this issue as the fix has been released as of device client version 1.30.0

[2021-05-06 18:34] #1164 closed

[2021-05-06 18:35] timtay-microsoft commented on #1154
Closing this issue as the fix has been released as of device client version 1.30.0

[2021-05-06 18:35] #1154 closed

[2021-05-07 00:40] timtay-microsoft commented on #1188
I spent some time digging into this issue today, and have a couple of findings so far

I have a fix merged in already for the first bug I found, which is that a multiplexing client with 1 or fewer devices registered at open time did not execute the connection status callback, like you reported. (#1198)

The service appears to throw an AmqpInternalException rather than an AmqpNotFoundException when

[2021-05-07 23:00] timtay-microsoft commented on #1183
Closing this thread per the above. I'll be working through the issues with the MultiplexingClient to unblock you

[2021-05-07 23:00] #1183 closed

[2021-05-10 23:28] timtay-microsoft commented on #1188
My team is putting out a release shortly that will contain both #1202 and #1198, so would you be willing to upgrade to the latest version and try out the multiplexing client after that release is done?

[2021-05-11 15:50] sanjay-90210 commented on #1188
Sure, I will

[2021-05-11 21:43] timtay-microsoft commented on #1167
Can you share the SDK side code that you are writing so that we can attempt to repro this?

[2021-05-14 12:16] nitikamehta opened #1212 "[BUG Report]Aure IOT Hub throws the SAS Token expired even though the connection String is valid"
IOT SDK Version : <groupId>com.microsoft.azure.sdk.iot</groupId>
			<artifactId>iot-device-client</artifactId>
			<version>1.30.1</version>
Repro Steps
1. Create a device Client with the expired SAS Token connection string .
2. It will throw the SAS token expired exception.
3. Now create a device client with a new connection String which is valid .
Actual : IT still throws the SAS expired Token Ex

[2021-05-14 16:28] timtay-microsoft commented on #1212
Can you provide some sample code that demonstrates this issue? And can you share the format of what your connection strings look like?

[2021-05-17 05:54] nitikamehta commented on #1212
This is the exception we are getting
java.lang.SecurityException: Your SAS Token has expired
and the application runs fine if we provide a valid connection string .
the issue gets resolved once I restart the application and provide a valid connection string .
So the Repro steps is
once the device client sets up with the expired connection string it does not get created even though after we provide

[2021-05-17 22:05] timtay-microsoft commented on #1212
The above repro code doesn't exactly show how you are encountering this error, so I wrote up what I believe you are doing.

[code]

When I run the above code, I don't see anything wrong with constructing a device client with a valid connection string, even if I previously created a client with an expired connection string. Am I doing something differently from you, though?

[2021-05-17 22:14] timtay-microsoft commented on #1212
Also, in general, if you want to control which SAS tokens are used by the SDK like it appears you do, the DeviceClient has a constructor that takes in a SasTokenProvider interface which is much more flexible than the constructor you are currently using. I recommend checking out [this sample](https://github.com/Azure/azure-iot-sdk-java/blob/master/device/iot-device-samples/custom-sas-token-provider

[2021-05-17 22:50] timtay-microsoft commented on #1188
@sanjay-90210 are you still running into any issues after upgrading to the latest version?

[2021-05-18 07:55] sanjay-90210 commented on #1188
Sorry for the delay, I did not realize that a release was made.

Looks better than before with the mux state listener getting called with the right state unless a device is disabled. Issues with disabled devices still exist. Once a disabled device is added into a connection, the state of all devices bounce between connected and disconnected as if the server itself is disconnecting the connection.

[2021-05-18 18:07] timtay-microsoft commented on #1188
From my initial testing, that behavior is fixed by https://github.com/Azure/azure-iot-sdk-java/commit/3d065c9073c94aae8d58ff57ac0b4d26c11cb93d

This fix wasn't a part of the latest release, but I do plan on releasing it soon.

I tried opening a multiplexing client with 2 devices, then registering another device that was already disabled, and the other devices were unaffected as expected.

Likewise

[2021-05-18 18:26] timtay-microsoft commented on #1188
That said, it does appear that there is a bug around opening a multiplexing client with a set of already registered devices where one or more of those devices is disabled. I'll dig into that a bit more

[2021-05-21 17:40] timtay-microsoft commented on #1212
@nitikamehta are you still running into any issues here?

[2021-05-24 07:01] nitikamehta commented on #1212
Hi @timtay-microsoft ,
Another observation that i found :
issue is that its not happening on the version 1.29.1 and its there only on version 1.30 and later.
Is it by design and do i need to change the constructor only

[2021-05-24 07:11] nitikamehta commented on #1212
I am actually not using the SAS Token Helper but i am creating the device client as
String connString = "HostName=" + endpoint.getConfig().get("Path") + ";DeviceId="
+ endpoint.getConfig().get("UserName") + ";SharedAccessSignature="
+ endpoint.getConfig().get("Password");
protocol = IotHubClientProtocol.AMQPS_WS;
new DeviceClient(connString, protocol);
this Device client throws SAS Token expired E

[2021-05-24 07:26] ybdc-jl opened #1220 "[Technical Question] Provisioning client SDK won't add secondary certificate"
- **OS and version used:** Windows 10 19041.985
- **Java runtime used:** java version "11.0.10" 2021-01-19 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.10+8-LTS-162)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.10+8-LTS-162, mixed mode)

- **SDK version used:** Compiled from a162b280

# Description of the issue:
Hi! I'm trying to follow the provisioning/provisioning-samples/service-e

[2021-05-24 13:28] nitikamehta commented on #1212
The issue is Resolved it was some error on our side . Thanks for your support

[2021-05-24 13:28] #1212 closed

[2021-05-24 15:51] timtay-microsoft commented on #1220
This line creates the attestation with a primary and a secondary x509 certificate. That means you will be able to use either the first certificate or second certificate when you create the security provider later on. There is no need to provide both the primary and secondary certificate when registering your device.

The reason we allow a primary/secondary model here is just so that if you need to

[2021-05-24 23:26] stien-slalom opened #1223 "Twin metada is inconsistent"
- OS and version used: macOS 10.15.7

- Java runtime used: Java 11 (Kotlin 1.4)

- SDK version used: 1.30.0

**Steps to reproduce the issue:**

Create properties and delete properties a couple of times caused the twin in an inconsistent state that specifically complaining about $lastUpdatedByDigest and $lastUpdatedVersion.

After couple create and delete properties couple of times, get deviceTwin

[2021-05-25 00:20] bikamani commented on #1223
@stien-slalom Thanks for filing a github issue.

Could you specify order of operations are you following? Is it a consistent failure?

[2021-05-25 00:42] bikamani commented on #1170
Since we haven't heard back in a while, closing this issue. If there are more questions feel free to reopen it. Thank you.

[2021-05-25 00:42] #1170 closed

[2021-05-25 01:04] ybdc-jl commented on #1220
Hi @timtay-microsoft, thank you for your quick response.

Yes I understand that the secondary cert is only used to make sure the connection is not broken when the primary certificate is expired/revoked/whatever.

The thing is if I pass two certs during enrollment in DPS and register it in IoT Hub (running the previous snippets)

[code]

Both the thumbprints shows up correctly in DPS, e.g.
[code]
B

[2021-05-25 15:34] stien-slalom commented on #1223
@bikamani  This is the flow to reproduce the `Twin metada is inconsistent`. It is a consistent failure.
- Create the device twin
- Update desired property
- Update desired property
- Get twin for device

[2021-05-25 16:19] timtay-microsoft commented on #1220
This sounds like a service behavior question, then. After a successful registration, it is DPS that tells your IoT Hub to add this new device with all the authentication details. My hunch is that DPS doesn't propagate the secondary thumbprint to IoT Hub either by mistake or by design (since the DPS registration only used the primary certificates). I'm working with the relevant service teams to und

[2021-05-25 16:34] timtay-microsoft commented on #1188
I've put out another release that contains some fixes related to your scenario, in case you want to take another look

[2021-05-25 17:25] bikamani commented on #1223
@stien-slalom Could you try with upgrading client versions to latest? We recently released some changes which adds support for Twin metadata, link: https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-05-24.

[2021-05-25 19:53] stien-slalom commented on #1223
@bikamani I've updated to version `1.31.0` and it addressed the issue. Thanks for the quick response and fix!

[2021-05-26 07:37] ybdc-jl commented on #1220
Thank you @timtay-microsoft, I think you are correct that it's not a SDK bug but a design issue. Just did a quick test with C# sdk and it behaves the same: you can submit two certificates in DPS, but only the one you just registered with works in the IoT Hub, and the two thumbprints in the Hub are the same. To post with the other certificate you need to re-provision with it first, which is kind of

[2021-05-26 09:45] sanjay-90210 commented on #1188
I tried out the new build with just the base disabled device case, i.e run the sample with 2 devices, one good and one disabled. The new build goes into an infinite loop of retries, filling the logs nicely. It also leaks threads with each try. Two processed thread dumps are attached (duplicate stack traces are combined into a count for easy review). After a little while of retrying, there are 32 I

[2021-05-26 16:24] timtay-microsoft commented on #1220
Yep, I have confirmed with the service teams around this scenario, and they say that this behavior is by design

[2021-05-27 01:22] #1223 closed

[2021-05-27 01:23] bikamani commented on #1223
@stien-slalom Thanks for letting us know.

[2021-05-27 01:27] bikamani commented on #1167
@MickeyMouseS Could you provide some information on how are you validating for MQTT and what your application code looks like using HTTP?

[2021-05-28 19:12] kjakubison opened #1224 "Unable to upload to Azure Blob Storage using version 12.11.1"
- **OS and version used:** < Windows 10 dev environment. Deployed to Galaxy S21, android version 11 >

- **Java runtime used:** <1.8 >

- **SDK version used:** <targetSdkVersion 29>

# Description of the issue:
I will start by saying this issue is fixed if I downgrade 'azure-storage-blob' back to version 12.0.0. Provided below is the sample code in this sdk for a file upload example to blob storag

[2021-06-01 09:44] devzeze opened #1225 "NullPointerException in ClientState.quiesce iot-device-client:1.29.4"
# Context

- **OS and version used:** Android (mostly ver 10 and 11)
- **SDK version used:** iot-device-client:1.29.4

## Description of the issue
Some crashes reported in Crashlytics for version of app that includes iot-device-client:1.29.4.
3 different crashes around ClientState.quiesce

## Console log of the issue
Crashlytics crash info.

========================================

ClientState.ja

[2021-06-01 23:02] barustum commented on #1225
@devzeze Can you please include a full stack trace that includes the device client sdk lines of code?

[2021-06-01 23:51] azabbasi commented on #1224
@kjakubison
Thank you for reaching out to us. It appears that the Azure Storage Blob client is the origin of the issue.
Can you run the sample code and confirm that the FileUploadSasUri conforms to the following format?
`https://someblobstorage.blob.core.windows.net/fileupload/somedevice%2Fsomefilename.jpg?sv=2018-03-28&sr=b&sig=SoeKey4%3D&se=2021-06-02T00%3A47%3A07Z&sp=rw`

If your blob uri endpo

[2021-06-02 00:08] azabbasi commented on #1224
BTW, since you are already following the sample code for file upload, you might have noticed that the upload APIs are directly invoking the storage client. So you can just use the storage SDK version that works best for you.

[2021-06-02 07:09] devzeze commented on #1225
@barustum For the Thread that crashed this is all info I got, however I can get for you the stack trace from other threads related with client sdk.

In the meantime, I am trying to collect more info here. I will update you with the results if something new shows up.

com.microsoft.azure.sdk.iot:iot-device-client:1.29.4

========================================

ClientState.java line 1330
org.eclip

[2021-06-02 15:47] timtay-microsoft commented on #1220
Closing this thread as it is a service side issue, not an SDK side issue

[2021-06-02 15:50] azabbasi commented on #1224
We will be closing this since the issue sees to be the storage client and you can use any flavor of the storage blob SDK to make the file upload as we have decoupled the IoT Hub Device SDK from the Storage SDK for File Upload Operations.

[2021-06-02 17:43] timtay-microsoft commented on #1151
This thread has gotten a bit off topic, and I'd like to provide some closure to anyone who saw this open issue and was curious if we planned on adding support for updating reported properties without starting device twin.

My team's stance is that we do not plan to add support for the SDK around this scenario because the service itself does not support this scenario. At its heart, twin is a bi-dir

[2021-06-02 17:48] timtay-microsoft commented on #588
The javadocs in our SDK have improved substantially since this issue was filed. Considering there is no "final" state of the SDK's javadocs, I'm going to close this issue.

[2021-06-02 21:05] barustum commented on #1225
It seems like this issue is happening when trying to close the device client. Since we don't have a consistent repro, I will try and set up a stress test to open and close a client connection to see if I can reproduce this issue.

[2021-06-03 05:40] sanjay-90210 commented on #1188
@timtay-microsoft Any updates on the disabled device issue? Do you need any more data from me?

[2021-06-03 22:49] timtay-microsoft commented on #1188
Sorry, I've been a bit sidetracked by some other work. I should have enough to repro, but just to be clear, you are opening the multiplexed connection before or after registering these two devices (where one device is already disabled)?

[2021-06-03 23:08] timtay-microsoft commented on #1188
Actually, It would be helpful if you could share the sample code you are using here. Judging by the logs, you are hitting this issue while trying to unregister a device from a multiplexed connection, which isn't what I was expecting.

[2021-06-04 00:41] timtay-microsoft commented on #1188
I'd like to start by simplifying your repro code a bit since there are a lot of parts to it that should be irrelevant to this issue. From what I've been able to simplify so far, this is the code that I'd expect a repro of the infinite loop and leaked threads from:

[code]

With this code, I'm not seeing any infinite loops during any of the register/unregister calls, and the close call on the multi

[2021-06-04 06:35] sanjay-90210 commented on #1188
I copy pasted your code, made minor mods to pass the device strings in and executed it multiple times with the same device connect strings. The first device being normal and the second device being disabled. In one execution, i got an exception in the code:

[code]
The output log for it is given below:
[out-exepection.log](https://github.com/Azure/azure-iot-sdk-java/files/6596210/out-exepection.lo

[2021-06-04 21:23] timtay-microsoft commented on #1188
I'm not able to repro those same results so far. In particular, the ```ProtonIOException: bytes left unconsumed``` error is not showing up in my logs. That error is treated as a connection level event, so the multiplexed connection itself goes into reconnection. The loop here seems to be

connection briefly opened -> device session dropped for the disabled device -> "bytes left unconsumed" error -

[2021-06-04 23:02] barustum commented on #1225
I've set up a quick sample to run over the weekend, hopefully to be able to reproduce this issue.

@devzeze How often does it repro for you?

[2021-06-07 14:51] devzeze commented on #1225
We have a few, maybe something like 5% of our users have this crash per week.

We also assume for now this occurs while app is being closed/background otherwise would be a much serious issue.

[2021-06-07 19:19] timtay-microsoft commented on #1234
Hi @sesu-bio, the SSLContextBuilder class is sample code, but it does work fine if you want to copy it as is. There are many ways for you to build and SSLContext, and the SSLContextBuilder sample is just one of the ways. The only important thing to keep in mind is that the SSLContext that you construct will need to trust the IoT Hub service's public certificate. The SSLContextBuilder has that cert

[2021-06-08 07:14] sesu-bio commented on #1234
Hi @timtay-microsoft, this answers my question. Thanks!

[2021-06-08 18:03] barustum commented on #1225
Thanks for the info. I am still running a sample to open and close clients, and have yet to his this issue. I'll keep you posted.

[2021-06-09 00:49] ericmitt commented on #1140
@FinitelyFailed our investigation show that the issue occur only with Kotlin. There is a problem on the way call back are handled We suggest you open an issue on Kotlin at Jetbrains (or submit the case on their Issue tracker https://youtrack.jetbrains.com/issues/KT or their slack public chat https://surveys.jetbrains.com/s3/kotlin-slack-sign-up). Closing for now, let us know if they find something

[2021-06-09 07:52] nishanthvasu commented on #1032
@timtay-microsoft @devzeze  Hi , I am receiving this issue again. I tried with the your proguard rules as well. Can u help me out in this?
**Error: PROVISIONING FAILED : b.e.b.b.a.c.a.f.d.b: Service error: null - null - TrackingId: null**

**ProGuard Rules:**

# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in C:\Users\v-askhur.RED

[2021-06-09 07:54] nishanthvasu opened #1236 "PROVISIONING FAILED : b.e.b.b.a.c.a.f.d.b: Service error: null - null - TrackingId: null* - Proguard Protocol Used: AMQPS"
@timtay-microsoft Hi , I am receiving this issue again. I tried with the your proguard rules as well. Can u help me out in this?
**Error: PROVISIONING FAILED : b.e.b.b.a.c.a.f.d.b: Service error: null - null - TrackingId: null**

**ProGuard Rules:**

[code]

**Gradle:**

 buildTypes {
        release {
            minifyEnabled true
            proguardFiles getDefaultProguardFile('proguard-androi

[2021-06-10 08:41] sanjay-90210 commented on #1188
The full project that i am using is attached.
[test.tar.gz](https://github.com/Azure/azure-iot-sdk-java/files/6629747/test.tar.gz)

[2021-06-10 16:37] timtay-microsoft opened #1237 "[Bug Report] FileUploadNotificationReceiver does not receive file upload notifications if receive is called more than once"
[code]

The only workaround for users currently is to do
[code]

The SDK should allow for multiple calls to receive() without closing and reopening

[2021-06-10 17:10] timtay-microsoft commented on #1237
The same issue exists on the FeedbackReceiver as well

[2021-06-11 16:23] ericmitt opened #1239 "[Bug Report] TestEM"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://aka.ms/IoTHelp).

*If this is an issue encountered by following a Microsoft do

[2021-06-11 16:48] ericmitt opened #1240 "[Bug Report] Test EM 02 Java"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://aka.ms/IoTHelp).

*If this is an issue encountered by following a Microsoft do

[2021-06-11 17:41] ericmitt opened #1241 "[Bug Report] TestEM 03 java"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://aka.ms/IoTHelp).

*If this is an issue encountered by following a Microsoft do

[2021-06-11 17:48] ericmitt opened #1242 "[Bug Report] TestEM04 java"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://aka.ms/IoTHelp).

*If this is an issue encountered by following a Microsoft do

[2021-06-11 17:49] #1239 closed

[2021-06-11 17:49] #1240 closed

[2021-06-11 17:49] #1241 closed

[2021-06-11 17:49] #1242 closed

[2021-06-11 17:58] ericmitt opened #1243 "[Bug Report] testEM 05 java"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://aka.ms/IoTHelp).

*If this is an issue encountered by following a Microsoft do

[2021-06-14 13:10] devzeze opened #1244 "BouncyCastle dependency is out of date"
# Context
N/A

## Description of the issue
Can you please update Bouncy Castle dependency?

Version 1.65 has some issues.

## Code sample exhibiting the issue
N/A

## Console log of the issue
N/A

[2021-06-14 17:22] #1243 closed

[2021-06-14 17:29] timtay-microsoft commented on #1244
Sure, we can do that. For reference on people who may see this issue thread later, what kind of issues are you running into?

[2021-06-14 17:57] timtay-microsoft commented on #1244
#1245

[2021-06-14 18:11] timtay-microsoft commented on #1188
I still can't repro your scenario with that project. Do you see this same issue on other operating systems or on other JDK versions?

[2021-06-15 05:35] devzeze commented on #1244
Hi, our BlackDuck is reporting some security issues with those versions and recommending upgrade to fix.

There are some issues with version 1.64, 1.65 & 1.66.

Ex: https://github.com/bcgit/bc-java/wiki/CVE-2020-28052

Probably this doesn't even apply to your project, but updating is so easy that can be done anyway.

Thank you.

[2021-06-15 18:12] timtay-microsoft opened #1246 "Add specific documentation around what platforms this library supports"
It'd be nice to have a formal document where we list which JDK versions and operating systems that we test this SDK against, and lists our stances on other platforms like Kotlin.

Once this document is added, the "new issue" templates should be updated to point users to them so that issues aren't filed for unsupported frameworks/operating systems.

[2021-06-16 09:44] devzeze commented on #1225
Hi, any new updates?

Is there any other way I can help? Any feedback so we can try to reproduce in our automated tests also?

Although our automated tests run much more frequently, most of crashes came from users.

[2021-06-16 18:53] barustum commented on #1225
Hello,

Unfortunately, I was not able to reproduce the issue locally. And maybe because it seems like this issue is happening when the client is closed ungracefully. For that reason, I am planning on doing some testing on Android simulator to open a client and close it ungracefully to hopefully be able to reproduce the issue. I'll keep you up to date.

I really appreciate your patience.

Thanks

[2021-06-18 00:08] timtay-microsoft commented on #1244
The latest release updates our SDK's libraries to take dependency on Bouncycastle's set of 1.69 dependencies, so I'm closing this issue

https://github.com/Azure/azure-iot-sdk-java/releases/tag/lts_7_2021

[2021-06-18 00:08] timtay-microsoft commented on #1237
This issue is fixed by service client version 1.32.0 so I'm closing this issue

[2021-06-18 14:21] janbols commented on #567
Can we reopen this issue?

The problem is that the `DeviceTwinDevice` class only has getters for the reported and desired properties that return a set of key/value strings. In that set, the `$metadata` is NOT included:
[code]

As a result, there's no sensible way to get the `$metadata` from a `DeviceTwinDevice`.

[2021-06-18 21:01] barustum commented on #1225
@devzeze We have not been able to reproduce the problem. It's difficult to know where the issue is without having some sort of an idea on what the scenario is. From your app monitoring telemetry, is it possible to figure out the events that led to the ungraceful closer of the app/client?

[2021-06-21 21:59] timtay-microsoft commented on #1188
@sanjay do you have any other guidance on repro'ing this issue?

[2021-06-21 22:03] timtay-microsoft commented on #1167
Closing due to lack of customer response

[2021-06-22 07:50] sanjay-90210 commented on #1188
I created a fresh set of iot devices and tested the disabled device issue. This time it looks a lot better, but I do run into the infinite loop issue even now. I am not able to pinpoint the exact state a device has to be in for this to happen. If a device is created in the "disabled" state to start with, it shows no infinite loop issues (10+ tries did not run into this issue). If a device is creat

[2021-06-22 21:34] barustum commented on #1236
Hi @nishanthvasu

I am looking at this issue, but I am unable to reproduce the problem you are seeing. I wrote a provisioning sample with the same dependencies you are using, but I was able to provision just fine.

Can you please attach a stack trace and possibility some sample code where this is happening for you?

Thanks

[2021-06-22 21:37] barustum commented on #1236
Also, if possible can we take a look at your build.gradle file or your android project?

[2021-06-23 05:39] nishanthvasu commented on #1236
Hi @barustum ,

Please find the stack trace below and also attaching class file, gradle file and proguard rules file as well. In class file, You can change idscope and global end point as yours and check it.

[TOGIT.zip](https://github.com/Azure/azure-iot-sdk-java/files/6699202/TOGIT.zip)

**2021-06-23 11:02:37.642 4448-4982/com.iothub.azure.microsoft.com.androidsample W/m.androidsampl: Accessing

[2021-06-24 17:58] timtay-microsoft commented on #905
This feature hasn't gotten any meaningful traction or priority since being filed, so I'm closing this issue for now. We may revisit this feature at a later time

[2021-06-24 19:25] MikalaiSavenka opened #1254 "null serialization value"
Issue on line: https://github.com/Azure/azure-iot-sdk-java/blob/1ee51d807da156bf035d048cebd87b84ff6d0fe4/device/iot-device-samples/pnp-device-sample/temperature-controller-device-sample/src/main/java/samples/com/microsoft/azure/sdk/iot/device/PnpConvention.java#L67

gson.toJson(telemetryPairs) returns null because telemetryPairs is anonymous class created on line https://github.com/Azure/azure-iot

[2021-06-24 22:17] barustum commented on #1236
Hi @nishanthvasu

Please try uncommenting this line from the proguard rules file:
-keep class com.microsoft.azure.sdk.iot.provisioning.device.internal.parser.* { *; }

Because this is an application that uses the provisioning service device client sdk, we recommend that class should be excluded. The parser classes do not work well with minification because JSON parser classes use reflection based

[2021-06-26 21:23] johanz9 opened #1257 "[Technical Question] [Device Client] Mqtt connection lost"
- OS Windows 10
- Java runtime used: JDK 12
- SDK version used: 1.29.4
- Paho version used: 1.2.5

Hi i have a problem with your sdk, I'm trying to receive message from cloud, but i obtained Mqtt connection lost. My code is:

import com.microsoft.azure.sdk.iot.device.*;
import com.microsoft.azure.sdk.iot.device.transport.IotHubConnectionStatus;

import java.io.IOException;
import java.net.URISynta

[2021-06-28 05:49] devzeze commented on #1225
Hi,

thank you for the help and time spent already.

I will try to gather more info from devices that had the crash.

Will came back when have some results. Might take some time.

[2021-06-28 13:24] nishanthvasu commented on #1236
Hi @barustum ,

Thanks for your comments but still it didn't worked out for me which gives the below error,

**Proguard File:**  [proguard-rules.zip](https://github.com/Azure/azure-iot-sdk-java/files/6726568/proguard-rules.zip)

PROVISIONING_DEVICE_STATUS_ERROR
E/exception :: c.e.b.b.a.c.a.f.d.b: Service error: null - null - TrackingId: null

W/System.err: java.util.concurrent.ExecutionException:

[2021-06-28 16:03] timtay-microsoft commented on #1257
Can you share a bit more context around this disconnection event? By default, the SDK will disconnect every ~60 minutes in order to re-authenticate with the service, and that is by design. Otherwise, you may see this error when underlaying network issues interfere with the connection, and are considered typical behavior and that the SDK will handle reconnecting for you.

Are you seeing this error

[2021-06-29 06:47] devzeze commented on #1225
Hi,

since some days ago I have my data from Crashlytics exported to Bigquery and having an overview of the data today I came across an interesting result.

From all exceptions I got, getting a unique table with exception, manufacturer, model I get this.

issue_title	                          manufacturer         model
ClientComms.java line 775	  samsung	         SM-G980F
ClientComms.java line 775

[2021-06-30 14:41] nenright opened #1258 "MQTT_WS Disconnects and Reconnects every 2 minutes"
I haven't found any documentation to explain the behavior we're seeing.  Basically it looks like IoT Hub is resetting our MQTT_WS connection every two minutes:

from our IoT Edge module:
[code]

from the edgeHub module:
[code]

Diagnostics is turned on at our IoT Hub and we are getting the Connect/Disconnect messages but there are no errors.  It appears that our module is operating correctly but m

[2021-06-30 17:03] timtay-microsoft commented on #1258
Can you share a bit more context on the SDK side code you are using? Is this the latest SDK version? What JDK do you have installed? And are you using any optional settings on the SDK like setting a proxy, changing the SAS token expiry time, or anything similar?

[2021-06-30 17:03] timtay-microsoft commented on #1258
And do you see this same behavior when you have the module connect directly to IoT Hub rather than to an Edgehub instance?

[2021-06-30 17:09] nenright commented on #1258
Hi @timtay-microsoft,
we are using version: com.microsoft.azure.sdk.iot:iot-device-client:1.30.2, and are using the openjdk:8-jdk-alpine image.  We're deploying our edge module with a DNS config of 8.8.8.8. No other configs really. I'll try to see if we can run outside of edge and switch the protocol.

[2021-07-01 00:53] timtay-microsoft commented on #1257
@johanz9 do you have any extra context that you can share for this issue?

[2021-07-01 05:07] johanz9 commented on #1257
Hi, sorry.  The problem was underlaying network. used two client connected frequenly 😅. Thanks very much

[2021-07-01 16:14] abhipsaMisra commented on #1254
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:14] abhipsaMisra commented on #1254
Closing the issue.

[2021-07-01 16:14] #1254 closed

[2021-07-01 16:14] abhipsaMisra commented on #1246
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:14] abhipsaMisra commented on #1246
Closing the issue.

[2021-07-01 16:14] #1246 closed

[2021-07-01 16:14] abhipsaMisra commented on #1244
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:14] abhipsaMisra commented on #1244
Closing the issue.

[2021-07-01 16:14] #1244 closed

[2021-07-01 16:15] abhipsaMisra commented on #1237
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:15] abhipsaMisra commented on #1237
Closing the issue.

[2021-07-01 16:15] #1237 closed

[2021-07-01 16:15] abhipsaMisra commented on #1224
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:15] abhipsaMisra commented on #1224
Closing the issue.

[2021-07-01 16:15] #1224 closed

[2021-07-01 16:16] abhipsaMisra commented on #1220
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:16] abhipsaMisra commented on #1220
Closing the issue.

[2021-07-01 16:16] #1220 closed

[2021-07-01 16:16] abhipsaMisra commented on #1167
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:16] abhipsaMisra commented on #1167
Closing the issue.

[2021-07-01 16:16] #1167 closed

[2021-07-01 16:16] abhipsaMisra commented on #1151
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:16] abhipsaMisra commented on #1151
Closing the issue.

[2021-07-01 16:16] #1151 closed

[2021-07-01 16:16] abhipsaMisra commented on #1140
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:17] abhipsaMisra commented on #1140
Closing the issue.

[2021-07-01 16:17] #1140 closed

[2021-07-01 16:17] abhipsaMisra commented on #1234
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:17] abhipsaMisra commented on #1234
Closing the issue.

[2021-07-01 16:17] #1234 closed

[2021-07-01 16:17] abhipsaMisra commented on #905
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:17] abhipsaMisra commented on #905
Closing the issue.

[2021-07-01 16:17] #905 closed

[2021-07-01 16:17] abhipsaMisra commented on #588
Re-opening and closing to work around dashboard issue.

[2021-07-01 16:17] abhipsaMisra commented on #588
Closing the issue.

[2021-07-01 16:17] #588 closed

[2021-07-01 16:41] timtay-microsoft commented on #1257
Okay, I'll go ahead and close this issue then

[2021-07-01 16:41] #1257 closed

[2021-07-07 17:33] drwill-ms commented on #1225
Hi @devzeze. Our teammate Basel is out on family vacation, so I'm picking up the conversation here.

Basel had a note earlier about this looking like an ungraceful shutdown, and your telemetry from Crashlytics seems to support that as well. What do you want to do with it, given that? If an app is being ungracefully closed, in my mind anyway, all bets are off and processes might crash.

[2021-07-08 10:29] devzeze commented on #1225
Hi,

I will close the issue.

This seems to happen on specific brand of devices, in doze mode so there is not much to do for now.

I am trying to fix this by avoiding this situation in future.

Thank you for the help.

[2021-07-08 10:29] #1225 closed

[2021-07-13 20:04] timtay-microsoft commented on #1258
Any updates here, @nenright ?

[2021-07-14 11:28] hitesh-dhamshaniya commented on #1054
Hello @timtay-microsoft
I am getting below error even added below gradle

api ('com.microsoft.azure.sdk.iot:iot-deps:0.11.0')
implementation 'com.microsoft.azure.sdk.iot:iot-device-client:1.28.0'

java.lang.NoClassDefFoundError: Failed resolution of: Lcom/microsoft/azure/sdk/iot/deps/util/Base64;
    at io.reactivex.plugins.RxJavaPlugins.onError(RxJavaPlugins.java:367)
    at io.reactivex.android.

[2021-07-14 11:33] hitesh-dhamshaniya commented on #1054
Below is code I am trying to run
[code]
cc: @timtay-microsoft

[2021-07-14 19:49] nenright commented on #1258
So we still get the disconnects every two minutes with MQTT_WS.  They don't happen if we use AQMP.  Haven't been able to try AQMP_WS yet as we may be ok with AQMP for now.

[2021-07-15 22:41] #579 closed

[2021-07-15 22:42] #917 closed

[2021-07-20 07:13] jokarl opened #1273 "No expiry callback when using setExpiryTime and sending to topic"
- **OS and version used:** Ubuntu 18.04.5 LTS

- **Java runtime used:** openjdk version "12-ea" 2019-03-19, OpenJDK Runtime Environment (build 12-ea+29)

- **SDK version used:** com.microsoft.azure.sdk.iot:iot-device-client:1.29.0

# Description of the issue:
`MESSAGE_EXPIRED` is never triggered if I send a message with a set expiry on a topic to the edge hub. My callback is triggered with `OK_EMP

[2021-07-26 18:57] barustum commented on #1236
Hi @nishanthvasu,

I copied the same proguard rules files you provided, but I am unable to reproduce. A couple of things:
1. When you change the proguard rules file, do you ensure that you 'Sync Project with Grade files'?
2. Would it be possible to get a sample attached here that reproduces?

Thanks for your patience as we're trying to identify what's going on.

[2021-07-27 00:09] timtay-microsoft commented on #1273
A given message's expiry time is only contained within the context of the single module client that is sending it. A message may expire if it is queued within the SDK for too long (for instance, if the client loses connection, and by the time the connection is re-established, the message has expired). A message does not send this expiry time to the Edgehub for the Edgehub to use in any way.

To me

[2021-07-27 01:17] timtay-microsoft commented on #1258
Do you see this same behavior with older versions of Edgehub?

[2021-07-27 15:53] dusancvetkov opened #1286 "[Bug Report] AllocationPolicy field for enrollment group set to "null" when retrieving the group or mapping the creation/update response"
# Context

- **OS and version used:** Windows 10
- **Java runtime used:** openjdk version "11.0.9.1" 2020-11-04
- **SDK version used:** provisioning-service-client 1.7.0 & 1.8.0 (both tested)

## Description of the issue

Java IoT SDK could not map the api response properly when creating/updating/retrieving an enrollment group.
The field name that could not be mapped is "allocationPolicy", if we p

[2021-07-27 18:57] timtay-microsoft commented on #1286
Sounds like a bug, yeah. We'll get this fixed ASAP

[2021-07-27 22:46] timtay-microsoft commented on #1286
#1289 will fix this issue for you.

[2021-07-28 08:02] jokarl commented on #1273
Hi @timtay-microsoft, thanks for your response. You have understood my scenario correctly.

I have misunderstood the relation between the SDK and the Edge Hub. I thought that the expiry would also notify me when the edge hub failed to deliver to the targeted topic. But after your clarification, I understand that once the SDK has delivered to the hub, then it is the hubs setting of `timeToLiveSecs`

[2021-07-28 14:47] timtay-microsoft commented on #1273
There is no mechanism for the hub to notify the sender, no

[2021-07-28 14:50] #1273 closed

[2021-07-29 09:08] dusancvetkov commented on #1286
Thanks @timtay-microsoft for the fast response. When should we expect the release with this bugfix to be pushed?

[2021-07-29 16:37] timtay-microsoft commented on #1286
I'll try to get a release out with this fix within the next few work days.

[2021-08-02 04:26] nishanthvasu commented on #1236
Hi @barustum ,

[ProvisioningIssue.zip](https://github.com/Azure/azure-iot-sdk-java/files/6914377/ProvisioningIssue.zip)

Pls find the all the attached gradle files used in the project. build_deviceagent.gradle was the one used for provisioning. Also attached the class used for provisioning and errors which I receive as well as here.

[2021-08-03 21:03] timtay-microsoft commented on #1286
Closing this issue as the newly released version provisioning service client 1.9.0 contains the fix for this issue

[2021-08-03 21:03] #1286 closed

[2021-08-06 08:51] dusancvetkov commented on #1286
Thanks a lot!

[2021-08-25 13:40] marinabauer opened #1322 "[Bug Report] DeviceKeyLengthInvalid for device symmetric keys with length of 64 bytes"
# Context

- **OS and version used:** Ubuntu 20.04
- **Java runtime used:** 11
- **SDK version used:** 1.33.0

## Description of the issue
Devices with Authentication Type Symmetric Key and a primary or secondary key generated in the UI (via the device provisioning service) are raising an issue, once they are constructed with the SDK into the Device-Object.

The issue is in this line: https://gith

[2021-08-25 13:52] DominikVinan commented on #1322
Thank you @marinabauer for opening this bug! I have the same Issue.

[2021-08-25 15:55] timtay-microsoft commented on #1322
This is definitely a bug in the SDK, but we shouldn't even be validating the symmetric key within the SDK since the service does this for us. I'll see about removing this SDK-side validation of the symmetric key completely.

[2021-09-01 04:58] euchungmsft opened #1333 "[Bug Report] Build error on 'mvn install'"
# Context

![image](https://user-images.githubusercontent.com/20915976/131614017-5443b1f7-2a44-4d15-9a35-1f14cc62b54b.png)

## Description of the issue
Please be as detailed as possible: which feature has a problem, how often does it fail, etc.

Following instructions listed on here, https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509-java
at the step of running mvn

[2021-09-02 01:00] timtay-microsoft commented on #1333
This shouldn't impact your ```mvn install``` in any meaningful way. Did you need these package-list files for something in particular?

[2021-09-02 13:00] aleciav opened #1334 "[Bug Report] DeviceTwin's DesiredProperties are not retrieved after deviceClient.getDeviceTwin(); is called"
# Context

- **OS and version used:** Ubuntu 20.04
- **Java runtime used:** openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-8u292-b10-0ubuntu1~20.04-b10)
OpenJDK 64-Bit Server VM (build 25.292-b10, mixed mode)
- **SDK version used:** iot-device-client-1.30.1; iot-deps-0.12.0; provisioning-device-client-1.8.7

## Description of the issue
After correctly opening a DeviceClie

[2021-09-03 10:49] niklas-sparfeld-gcx opened #1336 "[Bug Report] Multiplexed AMQP connection starts superfluous AmqpsSasTokenRenewalHandler"
# Context

- **OS and version used:** macOS & Ubuntu Linux
- **Java runtime used:** Adopt JDK 11
- **SDK version used:** com.microsoft.azure.sdk.iot:iot-device-client:1.32.1

## Description of the issue

We open a multiplexed AMQPS session - I do not yet know whether the bug also works for normal connections.

We can reproduce the bug with one or more device clients on that connection.

When some

[2021-09-03 13:34] DBY047 opened #1337 "[Bug Report] IotHubConnectionStatusChangeCallback is not called if IotHubTransportConnection close throw an exception"
Azure IoT hub sdk is used to connect large amount of embedded device to the cloud. The environment is not always good and we frequently loose internet connectivity. While our product tries to recover the hub connection, we experience issue closing the connection and handling changes in connectivity with IotHubConnectionStatusChangeCallback.

- **OS and version used:** Android 4.4
- **Java runtime

[2021-09-06 11:32] payalgaikwad42 opened #1339 "Create Device Client using x509 cert and private key and Access Device Twin"
Hi @varunpuranik,
I have had the questions previously answered by you regarding IoT Edge hence tagging you.
I have an java springboot application deployed as a Azure IoT Edge module on a Linux vm with proxy setup.
IoT Edge version -  1.2.3 installed
ubuntu - 18.04.
Provisioning method - DPS provisioning with x509 certificate.
My Vm network has only one port open which is - 443
Now I am creating a

[2021-09-07 07:03] ccifuentesfer opened #1340 "ProvisioningServiceClient::getEnrollmentGroup raises an exception if the group only contains CAreferences."
How to reproduce:
- Upload a root or intermediate certificate to Azure DPS.
- Create an enrollment group that uses the uploaded certificate.
- Call the function.

This call raises the exception:
"X509 attestation for EnrollmentGroup does not contains a valid certificate."

The issue seems to be here:
[code]

https://github.com/Azure/azure-iot-sdk-java/blob/05a7e0daa03e2f01ffb16598539535b429e7f97f/

[2021-09-07 18:43] timtay-microsoft commented on #1337
This is definitely a bug, yes. Internally, we are discussing if the ```deviceClient.closeNow();``` call should ever even throw, though. #1338 is the current fix we have. It will make it so the ```deviceClient.closeNow();``` never throws these exceptions in the first place, but still adds some safeguards to make sure that the connection status change callback fires when you'd expect

[2021-09-07 18:44] timtay-microsoft commented on #1336
This does look like a bug, yes. #1341 should fix this issue for you. Feel free to build that branch locally and try it out for yourself while we work on merging it in and releasing it.

[2021-09-07 18:59] timtay-microsoft commented on #1340
Yep, this appears to be a bug in the SDK. #1342 will fix this issue for you.

[2021-09-07 19:03] timtay-microsoft commented on #1339
Just to be clear, are you trying to create a module client or a device client here? Device clients can connect as downstream devices from the edge device, but module clients are supposed to be run on the edge device itself. The code snippet you provided suggests you are connecting as a leaf device and not as an edge module.

Can you share the format of the connection string you are using here? (wi

[2021-09-07 20:05] niklas-sparfeld-gcx commented on #1336
Thanks for looking into it and the possibly quick fix. I'll give it a test drive tomorrow (German time).

[2021-09-08 01:05] timtay-microsoft commented on #1336
FYI this PR should fix both the cases when the initial open() call fails, and cases where the connection gets dropped after opening.

[2021-09-08 09:25] niklas-sparfeld-gcx commented on #1336
I gave the version a test-drive and it works as expected as far as I can tell 👍

Can you give us an ETA for when this fix will be released officially?

BTW: The default exponential retry policy with it's retry-count of MAX_INT was a problem for us. Errors are basically swallowed by the SDK and retried ad infinitum. Is that a sane default value?

[2021-09-08 10:47] aleciav commented on #1334
Issue resolved on our side. No changes were needed.

Root cause: issue with Gson library dependencies.

[2021-09-08 10:47] #1334 closed

[2021-09-08 16:21] timtay-microsoft commented on #1336
Glad to hear it! I have a couple other bug fixes to check in, but I plan on doing a release with this fix before the end of next week.

Usually the default operation timeout of 4 minutes stops a retry attempt before you'd reach the MAX_INT retry count, but the default retry policy can be configured with a custom retry policy, if you are interested. [Here](https://github.com/Azure/azure-iot-sdk-jav

[2021-09-08 18:01] DBY047 opened #1343 "[Bug Report] Disconnection race condition"
- **OS and version used:** Android 4.4
- **Java runtime used:** 1.6
- **SDK version used:** Java release 2020-11-16 (1.27.0) and Java release 2021-08-09 (1.32.1)

## Description of the issue
When trying to close the connection, we ran into a race condition with the SDK. The logs below show the race condition between our application successfully closing the connection (status DISCONNECTED) and the

[2021-09-08 23:53] timtay-microsoft commented on #1258
Closing this issue as it appears to be an Edgehub service issue. I can't directly transfer this issue, so it'll need to be opened [here](https://github.com/Azure/iotedge/issues).

[2021-09-08 23:53] #1258 closed

[2021-09-09 00:33] DBY047 opened #1348 "[Bug Report] IoTHubTransport updateStatus callback called in the wrong order"
- **OS and version used:** Android 4.4
- **Java runtime used:** 1.6
- **SDK version used:** Java release 2020-11-16 (1.27.0) and Java release 2021-08-09 (1.32.1)

## Description of the issue
When IoTHubTransport->updateStatus is called, deviceIOConnectionStatusChangeCallback is call after invokeConnectionStatusChangeCallback.
invokeConnectionStatusChangeCallback handle callback registered from dev

[2021-09-09 10:44] derSchtefan opened #1349 "iot-device-client 1.32.1 with edgeHub 1.1.4 prints repeated warning "A message was received with a null correlation id""
# Context

- Ubuntu 18.04
- openjdk version "11.0.12" 2021-07-20 LTS
- iot-device-client 1.32.1

## Description of the issue
We are processing messages from the iot edge edgeHub  1.1.4 like recommended in the examples:
[code]

The messages are received from the Azure Industrial-IOT  OpcPublisher.

When upgrading to iot-device-client 1.32.1, we receive the warning:
` c.m.a.s.i.d.transport.IotHubTra

[2021-09-09 12:28] DBY047 commented on #1349
I see the same things on my side but the warning message is wrong. First, the correlationId cannot be null. getCorrelationId will return an empty string if correlationId is null on the Message object. Second, the real error is that correlationCallbacks  containsKey return null for that correlationId: correlationCallbacks is empty when this occurred. I see 2 of these warnings. I added more about th

[2021-09-09 12:59] DBY047 opened #1350 "[Bug Report] TransportException error message wrong after MAX_IN_FLIGHT_COUNT change"
# Context
MAX_IN_FLIGHT_COUNT have been change from 10 to 65000

## Description of the issue
If the number of pending delivery tokens becomes >= to MAX_IN_FLIGHT_COUNT. The error message in the TransportException still  refers to the hold limits

## Code sample exhibiting the issue
[code]

[2021-09-09 23:09] DBY047 commented on #1349
Also have this when sending a direct-method to my device.  It looks like nothing sets correlationCallbacks in the IotHubTransport but now it complains about it. Are we suppose to implement the CorrelatingMessageCallback interface?

[2021-09-10 02:47] DBY047 commented on #1349
I think the handling of correlationCallbacks stuff in IotHubTransport can be improved a bit.

1. no need to check if messageId is null getCorrelationId will return an empty string if it is and it isn't checked in addToWaitingQueue.
2. A warning have been added only in onMessageReceived. All other method of the CorrelatingMessageCallback interface have no warning if correlationId is not in the corr

[2021-09-10 16:32] timtay-microsoft commented on #1339
@payalgaikwad42 can you provide some extra context here?

[2021-09-10 18:17] timtay-microsoft commented on #1349
Tagging @jamdavi who has a bit more context on why we'd be checking for this correlation id

[2021-09-13 00:18] euchungmsft commented on #1333
Thanks for your feedback @timtay-microsoft

This shouldn't impact your mvn install in any meaningful way.
Yes, build was done successfully and it was running properly. The errors impacted nothing to the build and functions in the end

Did you need these package-list files for something in particular?
I don't think so

One suggestion is adding comments on this error in README. This will be closed s

[2021-09-13 00:18] #1333 closed

[2021-09-13 06:00] payalgaikwad42 commented on #1339
@timtay-microsoft Hi, sorry for the late reply.
The use case is as follows:
1. I have one java iotedge module deploy on linux machine.
2. I am creating **ModuleClient**   as we usually create it for communication. using
`IotHubClientProtocol protocol = IotHubClientProtocol.MQTT;`
`client = ModuleClient.createFromEnvironment(protocol);`
3. I am also creating device client in the same file to connec

[2021-09-13 06:13] payalgaikwad42 commented on #1339
Here is the snippet of the code I am using along with the error I am getting for AMQPS_WS deviceclient:

                     `String connString = "Hostname=" + System.getenv("IOTEDGE_IOTHUBHOSTNAME") + ";" + "DeviceId="
					+ System.getenv("IOTEDGE_DEVICEID") + ";" + "x509=true";
			System.out.println(" Connection string for creating device client " + connString);

			HashMap<String, String> t =

[2021-09-13 17:04] jamdavi commented on #1349
Thanks everyone, I added this as a way to correlate messages. I'll see about improving the messages so they don't spam

[2021-09-13 23:07] timtay-microsoft commented on #1339
The issue here may be that you are trying to connect as the Edge device to IoT hub in order to get its twin while the edge device itself already establishes that connection when running. IoT hub only allows for a particular device identity (whether a normal identity or that of an edge device) to have one open connection at a time. I'd bring this question to the [Azure IoT Edge](https://github.com/

[2021-09-14 05:06] payalgaikwad42 commented on #1339
@timtay-microsoft The issue is faced 100% of the time.
I have tested this code in open network without any proxy and it works with MQTT protocol.
we can open 2 connections separately using ModuleClient and DeviceClient to access Module twin and Device twin resp.
On the other hand, if we cannot open 2 connections **how do you suggest to access **device twin** from **IoT Edge module****?
I have sear

[2021-09-14 07:17] payalgaikwad42 commented on #1339
As I have mentioned before, My IoT Edge device is registered using DPS. Intermediate cert is uploaded to DPS, created the group enrollment and then added full chain device cert and device private key to config.toml file.

So when I create Device client which sdk should be used? I am using azure-iot-device sdk.
with constructor:

`public DeviceClient(String connString, IotHubClientProtocol protocol

[2021-09-14 09:50] payalgaikwad42 commented on #1334
@aleciav Hi, I am facing similar issue at my end. Could you please tell me how did you created device client for this application?
did you hardcoded cert and key while creating SecurityProviderX509Cert  or is it possible to give cert path?

[2021-09-14 11:47] payalgaikwad42 commented on #1339
Is there any documentation explaining how to configure device and DPS when you select **intermediate cert as a certificate type** in DPS group enrollment ?

![Screenshot (287)](https://user-images.githubusercontent.com/42204123/133251989-8f113112-844e-4de4-a4e2-5cfd889424de.png)

[2021-09-14 12:44] derSchtefan commented on #1349
@jamdavi Why is it suddenly worth a log entry if a message has no correlation id?

[2021-09-14 19:33] jamdavi commented on #1349
Thanks everyone, great feedback on this. The PR is out and should be reviewed soon.

@DBY047

This is true, the warning message should have said something like "The correlation callback dictionary does not have an entry for correlation id..."

No, it's optional.

I like all of these suggestions and implemented them in a PR.

@derSchtefan

When testing this I had reused a few log statements to foll

[2021-09-16 02:38] DBY047 commented on #1349
Thanks @jamdavi and @timtay-microsoft for the quick response on issues raised in the last weeks. The new SDK is already in test by our QA team. I will let you know if we find something.

[2021-09-16 02:38] #1350 closed

[2021-09-16 02:38] #1348 closed

[2021-09-16 02:40] DBY047 commented on #1343
I'll keep this one open in case I see it again in the next few weeks.

[2021-09-16 16:31] timtay-microsoft commented on #1340
Provisioning service client 1.9.1 has now been released with this fix, so I'm closing this issue

[2021-09-16 16:31] #1340 closed

[2021-09-16 16:32] timtay-microsoft commented on #1336
Device client version 1.32.3 has been released and has the fix for this issue, so I'm closing this issue

[2021-09-16 16:32] #1336 closed

[2021-09-16 16:33] timtay-microsoft commented on #1322
Service client version 1.32.1 has been released and has the fix for this issue, so I'm closing this issue

[2021-09-16 16:33] #1322 closed

[2021-09-16 16:34] timtay-microsoft commented on #1337
Device client version 1.32.3 has been released and has the fix for this issue, so I'm closing this issue

[2021-09-16 16:34] #1337 closed

[2021-09-16 16:36] timtay-microsoft commented on #1348
Device client version 1.31.3 has been released and has the fix for this issue, so this issue was closed

[2021-09-16 16:36] timtay-microsoft commented on #1350
Device client version 1.31.3 has been released and has the fix for this issue, so this issue was closed

[2021-09-16 20:12] jamdavi commented on #1349
Thanks DB, please make sure you're using the .3 release. There was a regression added with the fix that I had to correct.

[2021-09-16 20:12] #1349 closed

[2021-09-20 07:39] aleciav commented on #1334
Hi @payalgaikwad42, for security reason I would not suggest to hard-code the Private key and Certificate in the code. Maybe better to use a Keystore.

[2021-09-27 17:56] timtay-microsoft commented on #1343
@DBY047 any objections to us closing this issue now?

[2021-09-28 12:10] DBY047 commented on #1343
Haven't seen the issue with the new sdk. I'll create a new one if I saw it again.

[2021-09-28 12:10] #1343 closed

[2021-09-30 11:37] daloiso opened #1375 "[Bug Report]"
I have this device twin
{
    "etag": "\"AAAAAAAAAAI=\"",
    "deviceId": "dispositivo2",
    "version": 2,
    "tags": {},
    "properties": {
        "desired": {
            "$metadata": {
                "$lastUpdated": "2021-09-30T10:52:00.8193027Z",
                "$lastUpdatedVersion": 2,
                "nested": {
                    "metadata": {
                        "$lastUpdated":

[2021-09-30 15:39] jamdavi commented on #1375
@daloiso Is this the twin we see in IoT Hub in Azure? Or, is this coming from another source?

I created a hub instance and used this same twin structure and it seems to pass fine with version 1.32.3. However when I add the `nested` property to the desired twin it is removed.

[2021-09-30 16:15] daloiso commented on #1375
This is the twin I see in IOT HUB.
The property nested is not removed with my version.
My version is the last
        <iot-device-client-version>1.32.3</iot-device-client-version>
        <iot-service-client-version>1.33.1</iot-service-client-version>

I have used samples.com.microsoft.azure.sdk.iot.DeviceTwinSample of the sdk
       <version>0.26.0</version>
I have only setted my iotHubConnection

[2021-09-30 16:16] daloiso commented on #1375
@jamdavi

[2021-10-01 08:29] daloiso commented on #1375
In com.microsoft.azure.sdk.iot.deps.twin.TwinCollection.java in the method [protected static TwinCollection createFromRawCollection(Map<? extends String, Object> rawCollection) ] you need to add an else if
 } else if (entry.getKey().equals(NESTED)) {
//TODO
}

[2021-10-01 08:47] daloiso commented on #1375
or tell to strip out from the portal the generation of nested tag

[2021-10-04 12:23] d4per opened #1377 "[Bug Report] No telemetry messages delivered when creating the ModuleClient with createFromEnvironment()"
# Context

- **OS and version used:** Ubuntu 20.04.2
- **Java runtime used:** openjdk version 11.0.12 2021-07-20
- **SDK version used:** 1.32.3

## Description of the issue
I am unable to send telemetry messages to the IoT Hub when the ModuleClient is created with `createFromEnvironment(MQTT)`. The exact same code works fine if the ModuleClient is created with the connection string `new ModuleClie

[2021-10-04 17:54] timtay-microsoft commented on #1377
The logs from your ```createFromEnvironment``` run does show that the service is acknowledging that you sent these messages. When you say that no telemetry messages are delivered, how are you checking that? Is it that the telemetry isn't seen in your Eventhub listener attached to your IoT hub? Or is the message not being logged in your Edgehub that the moduleClient is connecting to?

[2021-10-04 22:09] timtay-microsoft commented on #1339
I'm working with the user on this issue outside of this thread since they opened a support ticket. So far, the issue seems to be caused by local network firewall rules, so I'm closing this issue as it doesn't appear to be an SDK bug. I'll continue working on this issue the user is facing through their support ticket.

[2021-10-04 22:09] #1339 closed

[2021-10-05 06:36] d4per commented on #1377
Thank you for looking into this!
I have set up a route that accepts all telemetry messages (routing query = "true"). And then connected this route to storage endpoint (storing everything into a blob storage). And this works when I use the connection string. But when I change to `createFromEnvironment()`then the messages stop.
And I can change back an forth and this pattern will repeat. At the same

[2021-10-05 18:37] timtay-microsoft commented on #1377
Can you confirm that the environment variables that are read when creating from environment match the connection string values that you use when you create the module client from a connection string? The SDK picks up a few values [here](https://github.com/Azure/azure-iot-sdk-java/blob/17b8232d7e8078cdc7315dd0edf5b1e3ea5545ad/device/iot-device-client/src/main/java/com/microsoft/azure/sdk/iot/device

[2021-10-06 06:42] d4per commented on #1377
These environment variables are set within the docker container for my module:

    IOTEDGE_MODULEID=<same as my module name, same as in the connection string>
    IOTEDGE_GATEWAYHOSTNAME=<my host computers HOSTNAME>
    IOTEDGE_WORKLOADURI=unix:///var/run/iotedge/workload.sock
    IOTEDGE_APIVERSION=2019-01-30
    IOTEDGE_AUTHSCHEME=sasToken
    IOTEDGE_MODULEGENERATIONID=<18 digit number>
    IO

[2021-10-06 13:31] niklas-sparfeld-gcx opened #1379 "[Bug Report] AmqpsIotHubConnection.closeReactorLatch is not released in case of proton-j exceptions"
# Context

- **OS and version used:** macOS and Ubuntu
- **Java runtime used:** Adopt 11
- **SDK version used:** 1.33.0

## Description of the issue

Sometimes proton-j throws exceptions. For example there might be a `NullPointerException` in `SelectorImpl.update()` when `SelectionKey key` is `null`. I cannot provide a repro for it, it happens rarely after a device client has been online for many

[2021-10-07 07:38] niklas-sparfeld-gcx opened #1382 "[feature request] Identifiable threads"
**Is your feature request related to a problem? Please describe.**

In our system we open many DeviceClients, either simple-plexed or multiplexed.
Since we were running into some issues with the IoT SDK, we debugged it quite a lot.

The problem is that the executors and reactors of *different* clients all share the same thread names (e.g. `private static final String THREAD_NAME = "azure-iot-sdk-R

[2021-10-08 08:39] niklas-sparfeld-gcx opened #1385 "[Bug Report] NullPointerException in protonMessageToIoTHubMessage for partial deliveries"
# Context

- **OS and version used:** macOS
- **Java runtime used:** Adopt JDK 11
- **SDK version used:** main branch 9f6982aa64e3a7ede4754adc6cbb2a546eee93a2 and 1.33.0

## Description of the issue

When I run the `DeviceTwinSample` with Device `1000000000000000084` on IoT Hub `/subscriptions/be3f9789-80b1-4d0c-8814-c3f93450dc85/resourceGroups/nw-playgroung-rg/providers/Microsoft.Devices/IotHubs/

[2021-10-08 09:06] niklas-sparfeld-gcx commented on #1385
To me it looks like just `if(null) return` already does the trick, because the message `onDelivery` is called again when the delivery is complete. But I'll better leave that to you ;) I have no idea what I'm doing here.

[2021-10-08 18:41] timtay-microsoft opened #1386 "[Bug Report] Subsequent calls to fileUploadNotificationReceiver.receive() returns the same notification if no new notification available to consume"
If you create a file upload notification receiver and it successfully receives a notification, and then you call ```.receive()``` again when there are no notifications present in the service's file upload notification queue, then the receiver will return the same notification it returned previously.

Fixed by #1384

[2021-10-08 18:43] timtay-microsoft opened #1387 "[Bug Report] File upload notification receiver acknowledges multiple notifications but only returns one"
If multiple file upload notifications are available to consume from the service's file upload notification queue, and a user calls ```fileUploadNotificationReceiver.receive()```, the method will return one notification, but will also complete all the other notifications that it received. As a result, the SDK is swallowing all the notifications other than the one it returned.

Fixed by #1384

[2021-10-13 18:07] gabrielandrade2 commented on #1343
I got an issue that looks similar to this one. I am using the version 1.33.0 of the SDK and if I have a connection that has a reconnection task active and I try to close the same connection (in my tests, I am trying to finish the process that manages my connections), it almost certainly deadlocks.

[code]

[2021-10-13 23:51] timtay-microsoft commented on #1387
The newly released service client version 1.33.2 fixes this issue, so I'm closing this thread.

[2021-10-13 23:51] #1387 closed

[2021-10-13 23:51] timtay-microsoft commented on #1386
The newly released service client version 1.33.2 fixes this issue, so I'm closing this thread.

[2021-10-13 23:51] #1386 closed

[2021-10-14 13:41] gabrielandrade2 opened #1392 "[Bug Report] Deadlock when closing the connection"
# Context

- **OS and version used:** Ubuntu 20.04.3
- **Java runtime used:** openjdk version "15.0.3" 2021-04-20
- **SDK version used:** 1.33.0

## Description of the issue
I got an issue that looks similar to #1343 . I am using the version 1.33.0 of the SDK and if I have a connection that has a reconnection task active and I try to close the same connection (in my tests, I am trying to finish th

[2021-10-14 15:51] #1385 closed, assigned to timtay-microsoft

[2021-10-14 15:51] #1379 closed, assigned to timtay-microsoft

[2021-10-14 17:55] timtay-microsoft commented on #1392
Looks like you are correct. We'll try to get a fix out for this soon

[2021-10-18 23:18] azabbasi commented on #1382
@niklas-sparfeld-gcx
Hi Niklas,
We are investigating the potential approaches we can take in naming our threads and I would like to ask some clarifying questions
Different connections will be opened within the lifetime of a DeviceClient, Does it make sense for you to have the thread identified by the connection GUID or a singular Device Client GUID? We have multiple options and they each vary in c

[2021-10-18 23:31] timtay-microsoft opened #1396 "[feature request] Remove deps package from v2 preview clients"
The deps package has become less of a home for classes shared by both IoT hub and DPS clients over time, and it may be worthwhile to use the upcoming v2 clients as an excuse to move the deps code into the actual client libraries that use them. Needs to be further investigated, though.

[2021-10-27 18:32] jouniaro opened #1403 "[Bug Report] Azure IoT Hub via MQTT receiving very little data"
# Context

- Azure MQTT Broker & .NET Core event handler

## Description of the issue
We are submitting data to the Azure IoT Hub via MQTT from our Java application and handling it there with the .NET Core handler as described in https://www.prosysopc.com/blog/azure-mqtt-demo/

However, looking at the data in the Power BI graph https://uademo.prosysopc.com/ does not correspond to the expected - th

[2021-11-01 17:44] timtay-microsoft commented on #1403
For issues with the service, you'll need to file a support ticket [here](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview). This issues page is just for tracking issues with the Azure IoT Hub Java SDK. After you've filed a support ticket on the link above, a service-side engineer will be able to take a look at your IoT Hub instance and shed some light on the

[2021-11-02 10:48] niklas-sparfeld-gcx commented on #1382
Yes, that works for us, thanks 👍

[2021-11-03 18:04] timtay-microsoft opened #1405 "[Bug Report] Connection status reason for routine MQTT disconnects is incorrect"
Device/module clients that connect over MQTT are expected to lose connection once their SAS token has expired, but the connection status update that the SDK makes at this time is always "NO_NETWORK" instead of the expected "EXPIRED_SAS_TOKEN"

[2021-11-03 18:19] timtay-microsoft commented on #1405
This is likely because the SDK classifies all retryable errors as NO_NETWORK before it even checks if the SAS token was expired: https://github.com/Azure/azure-iot-sdk-java/blob/a0bb73058a2b2b2418019081b92074d2da2a6034/device/iot-device-client/src/main/java/com/microsoft/azure/sdk/iot/device/transport/IotHubTransport.java#L1048

[2021-11-04 00:50] timtay-microsoft commented on #1403
@jouniaro do you mind if I close this issue?

[2021-11-04 08:59] jouniaro commented on #1403
Oh, sorry. I hadn't noticed your advice (the emails were classified as Spam by MS Exchange...), but I have now created a new ticket over there. Thanks, that's what I was looking for since I just got an instruction to report the issue here first.

[2021-11-04 08:59] #1403 closed

[2021-11-04 16:36] azabbasi commented on #1382
@niklas-sparfeld-gcx
We have checked in a fix for this and it will be published with our next release. It may be worth mentioning that the device Id or connection Id is not always present when we are opening up a thread.
For example in case of multiplexing in AMQP, there is no device Id present for opening connections, sending and receiving messages, etc.
Another example is for provisioning device

[2021-11-11 10:11] sorinpenteleiciuc opened #1412 "[Bug report] DeviceClient threads leak during reconnection events"
When device clients that connect over MQTT lose connection, a 2 news threads are created :
azure-iot-sdk-IotHubReceiveTas, azure-iot-sdk-IotHubSendTask

 
We're currently struggling with an issue that the MQTT connection gets lost after every 3 to 5 minutes.
This leads additionally to the issue that two new threads are started every time the connection gets lost which also leads to the issue that

[2021-11-11 19:33] timtay-microsoft commented on #1412
This does look like a bug. I'll try to get the fix for this checked in soon.

[2021-11-11 19:35] timtay-microsoft commented on #1412
This issue doesn't appear to be tied to just MQTT. The faulty logic sits in a layer above the MQTT layer, so I expect AMQP users would hit this bug as well.

[2021-11-17 10:20] derSchtefan opened #1414 "[Bug Report] BaseDevice / DeviceParser silently change connectionStateUpdatedTime from UTC to a Local Time string"
# Context

- **Java runtime used:** 11
- **SDK version used:** iot-service-client:1.33.2

## Description of the issue
The constructor of BaseDevice in conjunction with DeviceParser causes the connectionStateUpdatedTime field to end up as a local time based string, without reason or indication. This is a problem because:
* All other fields in the SDK offer UTC
* The way back to a UTC timestamp is a

[2021-11-17 19:57] timtay-microsoft commented on #1414
Yep, this looks like a bug. I'll try to get a fix checked in soon.

[2021-11-23 13:37] DeveloperBeginner commented on #230
Are there any updates to this now? We are using the sdk version 1.19.0 and want the TLS version 1.2 to be enforced. How can we achieve this?

[2021-11-23 17:12] drwill-ms commented on #230
It is documented in the repo [here](https://github.com/Azure/azure-iot-sdk-java/blob/main/configure_tls_protocol_version_and_ciphers.md). Effectively, it is an option in Java when running an app.

[2021-11-24 13:24] DeveloperBeginner opened #1419 "How to check if the device client object could not be opened due to a blocked port"
OS and version used: Android 6.0.1

Java runtime used: 1.8.0

SDK version used: 1.19.0

I create a device client object using the following code
`DeviceClient deviceClient = DeviceClient.createFromSecurityProvider(iotHubUri, deviceId, securityProviderX509, IotHubClientProtocol.AMQPS );`

And then I open the device client connection.
`deviceClient.open();`

If opening the device client fails, how c

[2021-11-26 10:31] HimaniRanaa opened #1420 "[Bug Report] ServiceClient.send() method throws error "insufficient output buffer size" while sending a message of size more than 4KB"
# Context

- **OS and version used:** <VERSION> Windows 10
- **Java runtime used:** <VERSION> openjdk version "1.8.0_242"
- **SDK version used:** <VERSION>iot-service-client:1.33.1

## Description of the issue
While sending a message of size more than **4KB** to a device using the ServiceClient's send method, we are getting an error "insufficient output buffer size"

## Code sample exhibiting the

[2021-11-26 17:04] nmarcin92 opened #1421 "[Bug Report] AMQP_WS via HTTP Proxy reconnection failures"
# Context

- **OS and version used:** Ubuntu 18.04
- **Java runtime used:** OpenJDK 11.0.12
- **SDK version used:** `iot-device-client 1.33.1`

## Description of the issue
I have set up a connection with Azure Hub with one device client connected via multiplex client with AMQP_WS protocol over HTTP Proxy.
Everything works fine till I make proxy unavailable for a while, eg. by restarting it. I can

[2021-11-29 20:06] timtay-microsoft commented on #1420
The service client library version 1.33.2 has fixed this issue already, so can you try upgrading to that version?

[2021-11-29 20:11] timtay-microsoft commented on #1414
After some discussion internally, we're worried about this fix being a breaking change for customers. We're planning on bringing it to our upcoming 2.X.X versions of the clients though since we agree the SDK should not be doing this.

[2021-11-29 21:07] derSchtefan commented on #1414
Yes, but it will also be a breaking change for your 2.0 SDK, since nobody will change their code.

That's why I suggested to add a second field of type Instant (or any other type) with a proper name. DeviceParser also has two fields, so it's anyway weird why this second field was dropped.

[2021-11-29 21:57] timtay-microsoft commented on #1414
Users upgrading to the 2.0 SDK will be have to change their code as there are a number of other breaking changes involved in it regardless of where we put this fix.

[2021-11-29 22:30] timtay-microsoft commented on #1421
Ideally, the SDK should not be repeatedly requeueing these messages while it is disconnected. #1411 is looking into fixing the SDK's retry logic to not behave this way, but it still needs a bit of work on our end. I'll keep you posted on it.

[2021-12-02 14:15] uttamsingh0107 opened #1424 "GraalVM Native build fails when using azure-identity pom dependencies"
I was trying to authenticate a serviceclient using service principal . On using the azure-identity dependency , it builds a lot of reflections . I tried removing them using lazy initialization by using the --initialize-at-run-time , but even after including the java.security.SecureRandom class in the args , the class gets initialized at build time ,resulting a build failure. Without using azure id

[2021-12-02 14:40] prashantg077 opened #1425 "[Bug Report] JAVA AZURE Module client graalvm incompatibility"
# Context
- Graalvm version-21.3.0
- **Java runtime used:** jdk11
- **SDK version used:** <version>1.21.1</version>

## Description of the issue

Creation of module client using JAVA Microsoft Azure sdk with graalvm native binary fails . Below is the code snippet

 ModuleClient moduleSenderClient = ModuleClient.createFromEnvironment(IotHubClientProtocol.AMQPS);
 moduleSenderClient.open();

NOTE th

[2021-12-02 15:52] prashantg077 opened #1426 "[Bug Report] Java iot sdk Device client random IOT Hub disconnections without retry and closing of connection"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========
# Context

- **OS and version used:** <VERSION> (Windows 10, Ubuntu 18.04, etc. )
- **Java runtime used:** jdk11
- **SDK version used:** 1.28.0 also tried 1.30.2 issue was less frequent in 1.22.0

## Description of the issue
During load test with C2D- 75msgs/min on S1 tier, Device client abrubtly

[2021-12-02 18:29] timtay-microsoft commented on #1420
@HimaniRanaa can you confirm that you no longer see this issue after upgrading?

[2021-12-02 19:41] timtay-microsoft commented on #1426
This issue should already be resolved in the latest version of the library (1.33.1). Can you try upgrading and let me know if you still run into this issue?

[2021-12-02 19:43] timtay-microsoft commented on #1425
We currently don't support using GraalVM with this SDK. That said, we are looking to remove the dependency on JNR unixsocket which appears to be causing this issue.

[2021-12-02 19:43] timtay-microsoft commented on #1425
Marking this as "Enhancement" since you are asking for us to support GraalVM

[2021-12-02 19:44] timtay-microsoft commented on #1424
Marking this as "Enhancement" since you are asking for us to support GraalVM

[2021-12-03 05:55] prashantg077 commented on #1425
As a user of Azure cloud not able to deploy high performant low memory footprint solutions affects pricing dynamics and is a blocker for us. would want a ETA for this enhancement/fix.

[2021-12-03 09:46] prashantg077 commented on #1426
upgraded to SDK 1.31.1
below is the stack trace got 2 disconnections both connection was re - established BUT for second disconnection it took 18min to reconnect.
 DISCONNECTION --- 1

2021-12-03 07:55:28,484 INFO  [org.edh.qua.mai.GatewayModuleSender] (ForkJoinPool.commonPool-worker-3) Message sent to:FACILITY_4
2021-12-03 07:55:28,484 INFO  [com.mic.azu.sdk.iot.dev.tra.IotHubTransport] (azure-io

[2021-12-03 10:40] DeveloperBeginner commented on #230
Thanks for the input. I want to enforce TLS 1.2 in my Android application which uses the azure iot sdk. How do I enable it in Android?

[2021-12-03 11:40] DeveloperBeginner opened #1427 "Enforcing TLS 1.2"
OS and version used: Android 6.0.1

Java runtime used: 1.8.0

SDK version used: 1.19.0

I create a device client object using the following code
DeviceClient deviceClient = DeviceClient.createFromSecurityProvider(iotHubUri, deviceId, securityProviderX509, IotHubClientProtocol.AMQPS );

And then I open the device client connection.
deviceClient.open();

I want to enforce TLS 1.2 for all communicati

[2021-12-03 14:27] prashantg077 opened #1428 "[Bug Report] Java iot sdk Custom module (using Module client) automatic reconnection not happening untill restart of module"
# Context

- **OS and version used:**  (Windows 10, Ubuntu 18.04, etc. )
- **Java runtime used:** jdk11
- **SDK version used:** 1.21.1

## Description of the issue
USE CASE
Reli run of sending C2D messages with 75messages/min
ModuleA ---> uses device client to recieve C2D message and then redirects to ModuleB using configured routes and TTL
ModuleB ----> uses module client to recieve messages.

IS

[2021-12-03 17:40] prashantg077 commented on #1426
updated logs , module stopped receiving messages at all , below is the exception

com.microsoft.azure.sdk.iot.device.exceptions.TransportException: org.apache.qpid.proton.engine.HandlerException: java.lang.NullPointerException
        at com.microsoft.azure.sdk.iot.device.transport.amqps.ReactorRunner.call(ReactorRunner.java:48)
        at java.base/java.util.concurrent.FutureTask.run(FutureTask.j

[2021-12-04 08:21] HimaniRanaa commented on #1420
Thank you for the response. Yes, I tried with the new version 1.33.2 but it
also supports only approx 16KB of data. However azure has support for 64KB
data. Could you confirm if currently only 16KB is allowed?

On Thu, Dec 2, 2021, 11:59 PM timtay-microsoft ***@***.***>
wrote:

[2021-12-06 06:24] prashantg077 opened #1429 "[Bug Report] Azure IOT( iot-device-client ) sdk java (1.33.1) Device client gets stuck not receiving messages anymore."
# Context

- **OS and version used:** (Windows 10, Ubuntu 18.04, etc. )
- **Java runtime used:** jdk 11
- **SDK version used:** 1.33.1
## Description of the issue
Scenario ---> Reli run of application (edge module ) with C2D messages .
                      Standard S1 Tier
                      75 messages/min sent from an application deployed on Azure cloud.
                      runs for 3-4 hr

[2021-12-06 17:30] timtay-microsoft commented on #1428
Can you share the module client logs for Module B in this scenario?

[2021-12-06 22:40] timtay-microsoft commented on #1427
To add onto the above, the Java SDK itself enforces TLS 1.2 by default. This behavior can only be changed by providing your own SSLContext instance to the SDK when initializing your clients.

https://github.com/Azure/azure-iot-sdk-java/blob/ef780172c96a323b1ea0d96e4409b01ee14682f3/deps/src/main/java/com/microsoft/azure/sdk/iot/deps/auth/IotHubSSLContext.java#L36

[2021-12-06 22:41] timtay-microsoft commented on #1420
I'll take a look and confirm what the expected max message size should be here.

[2021-12-07 21:19] pearstar commented on #728
We are using AMQPS with CA signed X509 cert for iothub connections and everything works fine. But recently we are facing customers that only allow certain ports to be opened on their firewalls, so we are exploring AMQPS_WS since it's on 443. As soon as I switched the protocol from AMQPS to AMQPS_WS I got the following exception when trying to connect:

[code]

Comparing Azure portal logs, the auth

[2021-12-09 17:21] azabbasi commented on #1427
Please feel free to re-open the issue if you have any other questions/concerns.
Thank you

[2021-12-09 17:21] #1427 closed

[2021-12-13 10:05] devzeze opened #1438 "Dependencies outdated iot-device-client"
## Description of the issue
Some of dependencies of iot-device-client are a little bit outdated.

Dependency:
com.fasterxml.jackson.core:jackson-databind:2.10.1
On:
com.microsoft.azure.sdk.iot:iot-device-client:1.33.1
Issue:
https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-25649

Dependency:
io.netty:netty-codec:4.1.51.Final
On:
com.microsoft.azure.sdk.iot:iot-device-client:1.33

[2021-12-13 20:22] RamIoTMalhotra commented on #1438
Hi @devzeze . We do have a new major version release that's ready to ship. Would you like to preview it and provide input?

[2021-12-13 21:21] andyk-ms commented on #1438
We have updated the dependence in our preview release + latest main.

Details:
fasterxml updated to 2.12.2 (preview)
io.netty update to 4.1.68 (thru latest main azure-core dependency)

Will be updated when the preview merge with main.

[2021-12-14 09:18] himanshueinfochip opened #1441 "iot-device-client:1.22.0 can be used without slf4j-api-1.7.28 as depedency"
In my android app, we have included the library as below.

implementation('com.microsoft.azure.sdk.iot:iot-device-client:1.22.0') {
        exclude module: 'azure-storage'
    }

Can we use the library without having it required sf4j-api-17.28 if the answer to this is no then do you guys see any security issue due to this report security issue https://jira.qos.ch/browse/LOGBACK-1591?filter=-4

Ple

[2021-12-14 10:55] himanshueinfochip commented on #1441
I tried removing module like below.

[code]
Can any one confirm that this  https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228 security issue,  does exist in the slf4j-api,

But after that, it's crashed.

    java.lang.NoClassDefFoundError: Failed resolution of: Lorg/slf4j/LoggerFactory;
        at com.microsoft.azure.sdk.iot.provisioning.device.ProvisioningDeviceClient.<clinit>(Provisio

[2021-12-14 12:41] devzeze commented on #1438
Hi,

Tested now with version 2.0.0-preview-002 and issues are gone because you removed the dependency com.azure:azure-storage-blob from iot-device-client.

Both jackson and netty were within azure-storage-blob.

Thank you for the info, from our side we will wait for the release.
Jose

[2021-12-14 23:37] timtay-microsoft commented on #1441
No, you won't be able to use this SDK while excluding this library. We use Slf4j as our logging interface. There isn't a way to set your own logging interface to replace it.

That appears to be a security concern in Logback. Logback is a logging implementation that can be used in conjunction with Slf4j to capture logs, but Slf4j does not come with a logback dependency so this SDK is safe here.

Th

[2021-12-14 23:53] timtay-microsoft commented on #1441
You can see [here](https://search.maven.org/artifact/org.slf4j/slf4j-api/1.7.32/jar) that the slf4j-api library has no dependency on either Log4j2 or Logback

[2021-12-15 07:54] himanshueinfochip commented on #1441
Thanks a lot, This information helps.

[2021-12-15 07:54] #1441 closed

[2021-12-15 16:25] careliot opened #1444 "[Bug Report] C2D messages from IoT Hub throw ArrayIndexOutOfBoundsException"
# Context

- **OS and version used:** Windows 10 or Linux 4.4.227-gentoo x86_64 (same on both)
- **Java runtime used:** 1.8u202
- **SDK version used:** 1.33.1, tried 1.33.0 too
- **Paho library version used:** 1.2.6

## Description of the issue
When receiving C2D messages from IoT Hub, SDK crashes with the attached error (ArrayIndexOutOfBoundsException) before any callback is called. This is happe

[2021-12-15 16:37] jamdavi commented on #1444
@careliot I will try to reproduce this with the standard samples. Does this happen right away or does it take time to get into this situation?

What it looks like is a property is getting sent with no value, so something like mqtt://host/topic?proprerty1=&property2=value

Here is the affected code

https://github.com/Azure/azure-iot-sdk-java/blob/af8ebfb36c8ae9e607ffbc0f6a57346eb59c3923/device/iot

[2021-12-15 16:41] careliot commented on #1444
@jamdavi thank you for your fast response. It happens right away, just some moments after we sent the message from the Hub.

[2021-12-15 16:50] jamdavi commented on #1444
@careliot I ran a test sending a message every second for a few minutes and didn't run into the issue.

Are you using the Service Client or are you using the Azure Portal?

[2021-12-15 16:52] careliot commented on #1444
@jamdavi we are using the portal. As mentioned, we tried various (valid) JSON bodies and a combination of 0 or more properties attached to the message

[2021-12-15 16:54] jamdavi commented on #1444
Ok I see, this is a problem with Preview version of the IoT Hub. When I do the same against the non-preview version the tests pass. Let me get the service team involved.

[2021-12-15 23:05] jamdavi commented on #1425
Just to make sure we're all on the same page. This is 100% an issue with either JNR or GraalVM. We need to work with these maintainers to make this work.

Here is the output just using the line of code JNR uses.:

[code]

[code]

[2021-12-16 01:16] jamdavi commented on #1424
This is due to usage of SecureRandom in the `DigestProxyChallengeProcessorImpl` class up the chain.  Change your Graalvm command line specified in your application.properties to this and it will build just fine. Notice I removed SecureRandom from the initialize-at-runtime command line.

If you experience issues with azure identity after the build you'll need to work with that team to understand wh

[2021-12-16 08:47] DeveloperBeginner commented on #1419
Are there any updates on this?

[2021-12-16 14:22] uttamsingh0107 commented on #1424
Hi @jamdavi . Thank You for the reply . I tried to build the native image using the changes you suggested and the build was success.  But when deploying the native image i now get some errors from Azure Identity dependency . This is basically due to non-availability of http client . When adding the http client dependency , the build fails. Similar but not exactly same error was found when i tried

[2021-12-17 22:34] #1425 closed

[2021-12-17 22:36] jamdavi commented on #1424
@uttamsingh0107 I believe you have an internal ticket open on this and I'll respond with this same information there. I'll also close this issue based on my findings below. But this will be helpful for anyone else who needs this information.

**I was able to get this to build with the following changes.**

1. I removed the `azure-core-http-netty` exclusion under the `azure-identity` dependency in

[2021-12-17 22:36] #1424 closed

[2021-12-20 16:49] jamdavi commented on #1426
The issues mentioned here were fixed in 1.33.1, we have added more improvements in the latest release that should help with this issue and others.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:49] #1426 closed

[2021-12-20 16:49] jamdavi commented on #1429
We have added more improvements in the latest release that should help with this issue and others.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:49] #1429 closed

[2021-12-20 16:49] jamdavi commented on #1428
We have added more improvements in the latest release that should help with this issue and others.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:49] #1428 closed

[2021-12-20 16:50] jamdavi commented on #1412
We have added improvements in the latest release that should help with this issue and others.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:50] #1412 closed

[2021-12-20 16:51] jamdavi commented on #1405
We have added improvements in the latest release that should help with this issue and others. Please feel free to reopen if the upgraded library does not solve this problem.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:51] #1405 closed

[2021-12-20 16:51] jamdavi commented on #1382
We have added improvements in the latest release that should help with this issue and others. Please feel free to reopen if the upgraded library does not solve this problem.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:51] #1382 closed

[2021-12-20 16:51] jamdavi commented on #1392
We have added improvements in the latest release that should help with this issue and others. Please feel free to reopen if the upgraded library does not solve this problem.

https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15

[2021-12-20 16:51] #1392 closed

[2021-12-20 16:56] jamdavi commented on #1444
@careliot The service team has acknowledged the regression in the preview version of the hub. With the holidays coming up I am not sure when they will correct this behavior to match the current non-preview hub.

I am going to work on a code fix this week to work around this issue in case it comes up again somehow.

[2021-12-20 18:33] #916 closed

[2021-12-20 18:34] #711 closed

[2021-12-21 07:23] careliot commented on #1444
@jamdavi thank you. We recreated the Hub without the preview option to work around this, and it's working now (this fixed another issue with AMQPS too). So it's not a top priority for us, in case you need a more relaxed schedule.

[2021-12-27 08:14] devzeze commented on #1438
Hi,

do you have a date for the release of version 2.0.0?

Thank you
Jose

[2021-12-27 18:04] RamIoTMalhotra commented on #1438
Hi @devzeze. We will be releasing in January, 2022. Thanks for the feedback!

[2021-12-27 20:41] #1444 closed

[2021-12-28 07:24] devzeze commented on #1438
Hi,

Thank you for the info. I will close the issue then and will check again in 1 month.

[2021-12-28 07:24] #1438 closed

[2022-01-03 05:32] prashantg077 opened #1448 "[Bug Report] Azure IOT( iot-device-client ) sdk java (1.34.0) Device client gets stuck with exception "AmqpConnectionFramingErrorException: connection aborted" not recieving messages anymore"
# Context

- **OS and version used:** (Windows 10, Ubuntu 18.04, etc. )
- **Java runtime used:** jdk 11
- **SDK version used:** 1.34.0

## Description of the issue
with reference to issue https://github.com/Azure/azure-iot-sdk-java/issues/1429  , in Device client 1.34.0 , we are facing AmqpConnectionFramingErrorException: connection aborted exception and Device client doesnt seem to reconnect.

##

[2022-01-03 06:40] JayGhiya commented on #1424
@jamdavi -> Thankyou for detailed answer. Couple of comments- this issue was created to get a graalvm compatible sdk. It is well known that graalvm does build time class initialization as you mentioned which is not a limitation but a trade off that developer decides for very low startup times(8x-10x lower time than jvm) and lower processing times. Thats what high performance and low footprint lang

[2022-01-03 10:02] HimaniRanaa commented on #1420
Hi @timtay-microsoft: Do we have any update on this?

[2022-01-03 19:25] timtay-microsoft commented on #1448
Can you share the relevant snippet of code that shows how you create the device client here?

[2022-01-04 05:07] prashantg077 commented on #1448
We are using X509 Certificates for creation of device client

SecurityProvider securityProviderX509 = new SecurityProviderX509Cert(deviceX509Cert, deviceX509Key, signerCertificates);

DeviceClient deviceClient = DeviceClient.createFromSecurityProvider(iotHubUri, deviceId, securityProviderX509, IotHubClientProtocol.AMQPS);

dependency for X509
 <dependency>
      <groupId>com.microsoft.azure.sdk.io

[2022-01-05 01:11] timtay-microsoft commented on #1448
How frequently can you repro this issue with that code? 100%?

[2022-01-05 17:17] jamdavi commented on #1424
All instances of `SecureRandom` in our library are instantiated at runtime. It's the transitive dependencies that are the issue here.

It appears that we can get a build with the existing SDK using well supported and documented methods.

I will move this issue to a discussion as it's a large feature request and might need to be part of our v2 efforts.

[2022-01-05 19:57] timtay-microsoft commented on #1420
I have identified the bug here, and #1450 will bring this SDK up to the advertised [IoT Hub cloud to device message size limit of 64 kb](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-hub-limits.md).

[2022-01-06 05:48] prashantg077 commented on #1448
we are doing reli runs by sending  80 C2D messages/ min . The application ran without issues for close to 3 days. After which we saw this issue , so we again restarted the edge modules and saw the error coming again.

[2022-01-11 19:39] jamdavi commented on #1448
Fixed with #1453

[2022-01-13 17:35] jamdavi commented on #1448
Fixed with 1.34.1

[2022-01-13 17:35] #1448 closed

[2022-01-13 17:47] timtay-microsoft commented on #1420
IoT Hub service client version 1.34.1 has been released with the fix for this issue. Service clients using AMQPS_WS can now send messages up to the expected 64 kb limit

[2022-01-13 17:47] #1420 closed

[2022-01-25 14:33] gabrielandrade2 opened #1457 "[feature request] Reduce the amount of log messages"
I think that the SDK is too verbose on the execution of some simple actions, especially `device.transport.IotHubTransport`.
This class generates a ton of INFO log message whenever there is message sent or an update to device twins, for example:
[code]
This type of message flood my log files, as the INFO level is set by default to all the libraries on my project.
I could make an exception for the I

[2022-01-25 18:51] timtay-microsoft opened #1458 "Add E2E tests for ECC client certs"
All of our x509 tests currently use RSA certs, so we should add a test or two that uses ECC client certs as well since the service does support that use case

[2022-01-25 22:07] jamdavi commented on #1419
@DeveloperBeginner Sorry this took so long I grabbed this before the holidays, and it got pushed far down in my stack. I wanted to make sure that I had the situation right so I could make sure to tell you what to do.

In my scenario what I did was set up an Android Emulator with the exact setup you have. In this instance I blocked the port from my machine and ended up with the EACCES message.

We

[2022-01-26 00:08] brycewang-microsoft commented on #1457
Hi @gabrielandrade2,

Thanks for submitting this FR and helping us improve the quality of our SDK repo! To address this, I open this [PR ](https://github.com/Azure/azure-iot-sdk-java/pull/1459)to modify the logging level for some statements so the executions won't be too verbose. Feel free to review the changes and meanwhile let us know what statements in particular are annoying you as well.

[2022-01-26 13:31] gabrielandrade2 commented on #1457
Hello @brycewang-microsoft,

Thanks for your prompt reply!

The messages that are most annoying to me are, in addition to the ones you already changed on the PR, the following:

- `Message was received from IotHub ({})`, on line 285;
- `Sending message ({})`, on line 1491.

If those could also be changed to "debug" level, it would be great for me!

As one last request, I think that the log of the

[2022-01-27 01:46] brycewang-microsoft commented on #1457
@gabrielandrade2, thanks for reaching back to us! We aligned these further so that the log statements on INFO level won't be overwhelming for regular use.

Hope this could help!

[2022-01-27 12:34] gabrielandrade2 commented on #1457
@brycewang-microsoft, thank you very much for your quick support.
I am sure this change will help.

[2022-01-27 12:34] #1457 closed

[2022-01-29 20:58] derSchtefan opened #1460 "[Bug Report] IoT Device Client - MethodRequest incorrectly implements toJson, makes module method calls fail"
# Context

- **SDK version used:** iot-device-client:1.34.1

## Description of the issue
Package `com.microsoft.azure.sdk.iot.device.edge`,  `MethodRequest.java`, lines 37, 45, 59, and 80.
`payload` is incorrectly defined as String instead of Object. The toJson method of this class is called during execution and GSON will then encode the String again as JSON string . This makes it impossible to ex

[2022-01-31 16:37] #1419 closed

[2022-02-02 19:48] brycewang-microsoft commented on #1460
Hi @derSchtefan, thanks for reporting us this issue with reproducing steps and suggested changes. We agree that `String payload` can cause some problems here. We plan to bring this change into our upcoming 2.X.X versions of the clients since it could be a breaking change for customers.

[2022-02-07 16:10] DBY047 opened #1464 "[Technical Question] Unable to subscribe to topic"
Hi,

I choose to create this issue as Technical Question because I am not sure if this is anm SDK bug SDK or the IT hub bug.

I see exceptions like the one below on all sites where we deployed our IoT solution. The network is highly unreliable and the device regularly disconnect and needs to reconnect.

When we get the exception below , IotHubTransport sends the IotHubConnectionStatusChangeCallbac

[2022-02-07 22:38] timtay-microsoft commented on #1464
This error from the MQTT library suggests that the client made the request to subscribe to the service, but the service was too slow to respond to the request ([15 second timeout](https://github.com/Azure/azure-iot-sdk-java/blob/feaeaaf8ab9fd91897ae73684ecead15c190a9ae/device/iot-device-client/src/main/java/com/microsoft/azure/sdk/iot/device/transport/mqtt/Mqtt.java#L33)). The topic that is being

[2022-02-07 22:53] timtay-microsoft commented on #1464
This is a design decision that is on the client side. Our stance has been that not every user will use twins/methods, so we didn't want them included in the requirements before we issue the CONNECTED callback. There are separate callbacks for when the twin subscription has been opened.

[2022-02-08 02:05] DBY047 commented on #1464
15 seconds seems an eternity to me. I mean, the service doesn't runs on a small computer right? Cloud services should have infinite cpu power to handled those request.

[2022-02-08 20:22] DBY047 opened #1465 "[Technical Question] Sending a response for the method that was never invoked"
Hi,

Regularly, on devices we deployed and on our QA lab, we see episodes of TransportException. By episode, I means the IotHubTransport prints the error below for 37 seconds (from 02-08 02:46:44.072 to 02:47:21.379). There is 369 exceptions like that one in that period of time. Does someone have and explanation for this and if there is something we can do to fix this? QA and clients ask lots of q

[2022-02-09 04:30] bouff opened #1466 "[Technical Question] Sending events during network outage"
Hello,

We have a question on how events are handled during a network outage.

Our application encountered an OOM exception in the following scenario:

- Due to the network outage, the transport state is `IotHubConnectionStatus.DISCONNECTED_RETRYING` (expected).
- During the outage, method `sendEventAsync` is called on class `DeviceClient`. The application happens to be generating a lot of telemet

[2022-02-09 05:50] bouff opened #1467 "[Bug Report] DeviceClient doesn't fully reconnect after temporary network disconnect (AMQP)"
# Context

- **OS and version used:** Ubuntu 20.04
- **Java runtime used:** openjdk 11.0.13 2021-10-19
- **SDK version used:** 1.34.1

## Description of the issue
In version 1.34.1 of the SDK, we performed a test where we temporarily disconnect network connectivity (pulled the ethernet cable). We leave the application running for 2 minutes in this state and then restore network connectivity (ether

[2022-02-10 19:58] timtay-microsoft commented on #1466
Hi there @bouff, thanks for the question. This SDK doesn't attempt to protect users from OutOfMemory exceptions like these. In general, it is on the user to not keep queueing messages to the point where such exceptions can happen.

That said, if you are seeing memory usage grow over prolonged reconnection periods in spite of not queueing any new messages, then that may be an SDK memory leak bug. A

[2022-02-10 20:08] timtay-microsoft commented on #1465
What version of the SDK are you using here?

[2022-02-10 20:20] bouff commented on #1466
Thanks @timtay-microsoft for the clarification.

We'll need to re-adjust how we handle events during a (prolonged) network outage.  After that change is place, we'll monitor memory use and ensure there isn't a leak.

[2022-02-10 20:20] #1466 closed

[2022-02-10 22:32] DBY047 commented on #1465
SDK version 1.32.2

[2022-02-10 23:00] timtay-microsoft commented on #1465
What the error here means is that the SDK attempted to send a direct method response, but for some reason it could not correlate it to a received direct method invocation. My guess is that the state that tracks this request/response correlation was wiped by a reconnection event. What the customer would probably experience here is that the method invocations would fail on the service client side ev

[2022-02-10 23:12] timtay-microsoft commented on #1464
I agree that 15 seconds is rather long for an operation like this, but the service's performance will vary heavily depending on how many devices you have interacting with your IoT Hub.

There are [published quotas on service performance](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling) that should be used to set expectations on how many devices can do how many ope

[2022-02-10 23:16] timtay-microsoft commented on #1467
Just to clarify a couple things:
 - You are seeing the client lose connection without it retrying to open the connection?
 - Do you re-open the client after getting the final DISCONNECTED callback?
 - Are you setting any custom retry policy on the client, or are you using the default?

[2022-02-12 04:19] bouff commented on #1467
My apologies, I truncated the part of the logs that show retrying to open the connection.
I'll provide a new, complete set of logs in a new separate comment.

We re-open the client under certain circumstances.

We don't when the change reason is `IotHubConnectionStatusChangeReason.CLIENT_CLOSE`, since we expect this case to be reserved for graceful disconnects (as per javadoc). For this case, we t

[2022-02-12 05:07] bouff commented on #1467
Here's a complete sequence of events - with logs at every step.

- Steady state prior to network disconnect. RPC call working, Twin updates are received, and events are sent:
[code]

- At 23:30:18, network disconnect begins. Reconnection to occurs in approximately 2 minutes.
- Shortly after the disconnect, we start seeing messages expire:
[code]

- At 23:32:45, network connectivity is restored
- A

[2022-02-15 11:47] sesu-bio opened #1469 "[Technical Question] Upgrade Path from lts_06_2021"
Hi,
we are currently on the lts_06_2021 branch and we plan to upgrade to the next LTS branch one it's released. To minimize the time we are stuck on a version that is out of support, we consider starting the work to upgrade to a newer release soon (in a branch). But this only makes sense if there already is a release with APIs that are close to the next LTS one.
Do you think this is a sensible app

[2022-02-16 18:11] timtay-microsoft commented on #1469
We plan on doing one final LTS release on the 1.x version clients before we release the 2.x version clients, so you shouldn't expect any breaking changes from our next LTS.

[2022-02-16 22:25] timtay-microsoft commented on #1467
The issue here is likely that you aren't re-subscribing to twin and methods after re-opening your client. A given deviceClient instance will hold onto your twin/method subscriptions up to the point when it is closed. Any subsequent open call should be followed by re-subscribing to twin/methods.

[code]

Can you try re-subscribing to twin/methods after opening your client and see if you still see t

[2022-02-17 06:20] sesu-bio commented on #1469
That is great news. Thank you for your quick reply!

[2022-02-17 06:20] #1469 closed

[2022-02-22 23:44] timtay-microsoft commented on #1464
Is there anything on the SDK side that I can help you with here, @DBY047 ?

[2022-02-23 21:19] timtay-microsoft commented on #1465
Device client version 1.34.2 has now been released and contains the fix for this behavior, so I'm closing this issue

[2022-02-23 21:19] #1465 closed

[2022-02-23 22:39] timtay-microsoft commented on #1458
Closing this since I've already added the tests to the v2 branch

[2022-02-23 22:39] #1458 closed

[2022-02-24 17:35] timtay-microsoft commented on #1467
@bouff have you tried the above suggestion?

[2022-02-24 23:23] bouff commented on #1467
Apologies for the delay @timtay-microsoft and thanks for your response.

Our callback that handles re-subscribing was not invoked - we purposely exclude the case of DISCONNECTED with reason CLIENT_CLOSE (since we expect this to be for graceful shutdowns, not network disconnect).

Given `AmqpConnectionFramingErrorException`, which is a retryable exception, we expected the SDK to reconnect (DISCONNE

[2022-02-25 23:44] DBY047 commented on #1464
@timtay-microsoft, for our client point of view, our product is unable to connect to the hub and errors returned doesn't help us to pine point where the issue is.

On the SDK side, I would like to have better error reports from the hub. If the hub throttled devices because quotas are reitch, I would like to have a clear error from the hub once the connection is made, before the SDK try to subscrib

[2022-02-25 23:44] #1464 closed

[2022-03-02 01:29] timtay-microsoft commented on #1396
This has already been merged into the relevant feature branch and is just pending the merge of the feature branch into main, so I'm closing this issue.

[2022-03-02 01:29] #1396 closed

[2022-03-02 02:09] abbymiss opened #1475 "项目引用了org.apache.logging.log4j:log4j-core等1113个开源组件，存在136个漏洞，建议升级"
大佬，看你这个项目调用了org.apache.logging.log4j:log4j-core等1113个开源组件，存在136个安全漏洞，建议你升级下。
[code]
另外135个漏洞 ，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=a3b83f

[2022-03-03 13:15] gmousset opened #1478 "[Bug Report] Memory Leak on client unregistration with MultiplexingClient"
# Context

- **OS and version used:** Docker container based on alpine 3.15 (eclipse-temurin:17-alpine)
- **Java runtime used:** openjdk version "17.0.1" 2021-10-19
- **SDK version used:** iot-device-client:1.34.2

## Description of the issue
I work on a gateway for iot devices. Devices are connected to my server application and the application is connected to the IoT Hub through a multiplexed AMQ

[2022-03-04 17:14] timtay-microsoft commented on #1478
Thanks for the thorough write up on this. It does appear to be a bug in the SDK, so we'll try to get this fixed soon.

We're just about to release our v2 SDK, so our v1 SDK (which is what you are using) won't get this bug fix though. Fortunately, the MultiplexingClient didn't change much in this major version revision, and the device client code just had it's methods renamed a bit as well, so it s

[2022-03-04 17:20] timtay-microsoft commented on #1478
On small question on the repro code, though. Does your map ```deviceConnections``` ever "dispose" of an unused device client by removing it from the map? Or would this map contain 15347 entries at the time when you are seeing 15347 instances of DeviceClientConfig/DeviceMethod in memory?

[2022-03-04 17:41] gmousset commented on #1478
Thanks for your answer.
The map only contains connected client, clients are removed on disconnect.
Do you know when the v2 will be released ?

[2022-03-04 17:48] timtay-microsoft commented on #1478
We're aiming to get the v2 released next week

[2022-03-08 00:12] timtay-microsoft commented on #1414
We're planning on releasing the v2 clients within this week, and they will contain this fix

[2022-03-08 00:13] timtay-microsoft commented on #1421
We ended up opting to put this fix in our v2 release (which is coming out this week). I'll update this thread again once the v2 release is out

[2022-03-08 12:50] sujitp149 opened #1482 "Could not find artifact com.microsoft.azure.sdk.iot:iot-service-client:jar:2.0.0 in central (https://repo.maven.apache.org/maven2)"
- **OS and version used:** <VERSION>  - Windows 10

- **Java runtime used:** <VERSION>  JDK 11

- **SDK version used:** <VERSION>  Latest from GitlBa

# Description of the issue:
Build failure while doing mvn clean install  "azure-iot-sdk-java-main\service\iot-service-samples\device-twin-sample"
# Code sample exhibiting the issue:

# Console log of the issue:
[ERROR] Failed to execute goal on proj

[2022-03-08 20:56] timtay-microsoft commented on #1482
You'll need to run ```mvn clean install -DskipTests``` at the root of this repository to get the missing service client jar here. We recently increased the versions of our shipped libraries to 2.0.0, but have not done the release quite yet.

[2022-03-09 06:40] sujitp149 commented on #1482
Thanks for your response. It failes even with mvn clean install -DskipTests resulting below error

**Console Log**

[INFO] IoT Hub Java Service SDK Parent .................... SUCCESS [  0.094 s]
[INFO] Iot Hub Java Service SDK ........................... FAILURE [  7.010 s]
[INFO] IoT Hub Service SDK Samples ........................ SKIPPED
[INFO] Device Manager Sample ...........................

[2022-03-09 23:47] timtay-microsoft commented on #1478
I'm taking a look into this issue now. Out of curiosity, what profiler are you using here?

[2022-03-10 09:38] gmousset commented on #1478
I use VisualVM. Thx.

[2022-03-11 02:45] timtay-microsoft commented on #1482
@sujitp149 do you need any more help here?

[2022-03-11 02:46] timtay-microsoft commented on #1478
#1487 should fix this issue for you. From my local testing, I was able to repro the behavior you described above, and with the fix, there are no more leaked instances of config/methodsCallback/etc.

[2022-03-11 18:48] timtay-microsoft commented on #1478
We're aiming to do a release once we get #1486 checked in, FYI.

[2022-03-11 18:48] gmousset commented on #1478
Thank you @timtay-microsoft! Now there's no more latency on cloud-to-device messages.
The service is more stable, however I notice an unusual memory consomption. I have to investigate more, but it seems to be about org.apache.qpid.proton.engine.impl.LinkNode and org.apache.qpid.proton.amqp.transport.ErrorCondition.
Instances are indirectly created by AmqpsIotHubConnection and objects persists afte

[2022-03-11 19:17] timtay-microsoft commented on #1467
Are you using these device clients within the context of a multiplexing client, or are they all operating on their own connection in these logs?

[2022-03-14 18:28] #1482 closed

[2022-03-16 15:44] mmacagno opened #1492 "Thread starvation in Android mobile application"
# Context

- **OS and version used:** Android 9 / API 28
- **SDK version used:** implementation 'com.microsoft.azure.sdk.iot:iot-device-client:1.30.1'

## Description of the issue
We have several Android applications in production posting iothub messages using the library above.
One one of these we are experiencing several crashes a day per user due to the exception below:

Fatal Exception: java.l

[2022-03-16 16:20] timtay-microsoft commented on #1492
There were some known issues around threads not closing correctly upon reconnection events up until [Device Client version 1.34.0](https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-12-15) so I'd suggest upgrading at least up to that point. Doing so should resolve this issue for you

[2022-03-18 10:22] gmousset commented on #1478
Hi, I profiled my application and as previously said I can confirm you some objects are not released after devices disconnection.

I have 486 devices connected and that is correct if I look for DeviceClient instances.
![ok](https://user-images.githubusercontent.com/766129/158985114-4adf31a7-116f-4dc9-b0bb-700277c1c112.png)

But after few hours, the amount of theses objects grow up until the applic

[2022-03-18 14:27] mmacagno commented on #1492
Thanks for the prompt response. We had some issues in migrating to .34, but will try again and report back.

[2022-03-18 15:17] mmacagno commented on #1492
Did you guys change JDK min version requirements by any chance?

[2022-03-18 15:36] mmacagno commented on #1492
Actually I got a bit more info on the build failure after moving to .34:

`
FAILURE: Build completed with 3 failures.

1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:checkWatchDebugDuplicateClasses'.

           Suggestions:
            - Check out existing issues at https://issuetracker.google.com/issues?q=componentid:460323&s=modified_time:desc,

[2022-03-18 15:48] mmacagno commented on #1492
Update: I upgraded Gradle and was able to build.
We will sanity check and report back if we are still seeing thread starvation crashes.
Closing this for now.

[2022-03-18 15:48] #1492 closed

[2022-03-23 15:47] timtay-microsoft commented on #1478
I'll take a look at these additional leaked class instances, too, sure

[2022-03-23 16:57] timtay-microsoft commented on #1478
#1501 should fix those resources (ErrorCondition, LinkNode, and a few others) leaking

[2022-03-24 02:46] bouff commented on #1467
Sure thing! 👍

I'll give it a try tomorrow.

[2022-03-28 09:38] gmousset commented on #1478
Hi @timtay-microsoft, first of all I want to thank you very much for your efficient support.
I integrated your latest commits and my application runs since Saturday without interruption.
The memory consumption management is very much better, nevertheless there are some issues left.

The first is about Message/MessageProperty/IotHubTranposrtPacket.
![002](https://user-images.githubusercontent.com/7

[2022-03-28 21:16] timtay-microsoft commented on #1478
I wrote a work around in my code: juste add a 5 seconds temporisation before unregister to let the time to send the last messages. May be this could be improved at SDK level?

I agree, the SDK should be cancelling these packets as soon as a user unregisters the client that they belong to. I can get this fixed for you.

For the remaining proton-j objects, they appear to stick around because a given

[2022-03-29 08:49] gmousset commented on #1478
Thanks @timtay-microsoft,
I think I'm going to implement a solution based on a multiplexed clients pool. It allows me to close client after some hours and may be avoid too expensive objects cache.

[2022-03-29 14:51] BenD10 opened #1504 "[feature request] Provide methods to retrieve DPS global endpoint and scope"
**Is your feature request related to a problem? Please describe.**
When provisioning a new device via DPS, after the enrollment is created it needs to connect using the DPS global endpoint and scope. There is no way through the SDK to retrieve that scope and endpoint to pass back to the device.

**Describe the solution you'd like**
A getter to retrieve the DPS global endpoint and scope.

**Describ

[2022-03-29 19:06] timtay-microsoft commented on #1478
#1503 will fix the IoT SDK objects leaking

[2022-03-29 21:46] BenD10 commented on #1504
That's fair, currently we're only passing the shared access policy connection string to the BE and I was hoping that would be sufficient to retrieve everything needed to provision a new device vs also going to the control plane (and a whole seperate SDK!).

Thanks for linking the control plane SDK, but it looks like we'll still have to go the path of hardcoding the endpoint and scope to avoid muck

[2022-03-29 22:10] timtay-microsoft commented on #1504
Sounds good. I'll go ahead and close this thread then.

[2022-03-31 16:48] ancaantochi opened #1507 "RegistryManager getModulesOnDevice should work when module doesn't have auth type"
# Context

- **OS and version used:** <VERSION> (Windows 10, Ubuntu 18.04, etc. )
- **Java runtime used:** <VERSION> (in a command prompt: java -version )
- **SDK version used:** com.microsoft.azure.sdk.iot:iot-service-client:1.33.1 or latest

## Description of the issue

Modules on edge devices get created without authentication type being set (via deployment or when an edge device is created aut

[2022-03-31 17:04] timtay-microsoft commented on #1460
The newly released Device Client version 2.0.0 has the fix for this issue, so I'm closing this thread.

[2022-03-31 17:04] #1460 closed

[2022-03-31 17:04] timtay-microsoft commented on #1421
The newly released Device Client version 2.0.0 has the fix for this issue, so I'm closing this thread.

[2022-03-31 17:05] timtay-microsoft commented on #1414
The newly released Device Client version 2.0.0 has the fix for this issue, so I'm closing this thread.

[2022-03-31 17:05] #1414 closed

[2022-03-31 21:17] timtay-microsoft commented on #1467
FYI, we've released the 2.0.0 clients now which include #1496 in case it makes it easier for you to try out.

[2022-04-06 00:35] timtay-microsoft commented on #1188
Closing this issue as we were never able to repro this issue. In the recent 2.0.0 release, the reconnection and open/close logic have been improved and it may have fixed this issue. If you are still seeing this issue after upgrading to 2.0.0, then please open a new issue.

[2022-04-06 00:35] #1188 closed

[2022-04-06 00:36] timtay-microsoft commented on #1236
Closing this thread because our library [doesn't officially support](https://github.com/Azure/azure-iot-sdk-java/blob/main/supported_platforms.md) using proguard for minification.

[2022-04-06 00:36] #1236 closed

[2022-04-06 07:38] krunalshah131987 opened #1518 "Android App getting crashed in the Android 12 Caused by: java.lang.NoSuchMethodError: No static method encodeBase64String"
The application is working fine in the lower than Android 12 OS mobile phone but for the Android 12 os Mobile phone getting crashed, while the app checking for the device connection status with the IoT Hub, the exception printStackTrace is as below,

 Caused by: java.lang.NoSuchMethodError: No static method encodeBase64String([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Base64;

[2022-04-06 16:24] timtay-microsoft commented on #1518
Android applications have some known compatibility issues with the ```org.apache.commons:comons-lang3``` library in recent versions and this service client package takes a dependency on it. Can you try the lower dependency version of commons-lang3 for your project?

[code]

[2022-04-06 21:52] timtay-microsoft commented on #1507
This bug has been fixed as of 2.0.1, so I'm closing this issue

[2022-04-06 21:52] #1507 closed

[2022-04-06 21:56] timtay-microsoft commented on #1467
@bouff Have you been able to repro this error after upgrading to 2.0.0?

[2022-04-06 21:58] timtay-microsoft commented on #1478
2.0.1 has been released that fixes the last memory leak issue that lays within the scope of this SDK, so the only remaining bug is the proton-j level cache that isn't being cleared.

[2022-04-07 10:05] g0rill4z opened #1523 "[Bug Report] iot-device-client defines SLF4J binding as dependency"
# Context

- **OS and version used:** macOS 12.3.1
- **Java runtime used:** OpenJDK 11.0.11
- **SDK version used:** 2.0.0 / 2.0.1

## Description of the issue
`iot-device-client` 2.0.0 and 2.0.1 define a SLF4J binding as dependency in its parent POM (`iot-device-client-parent`). I assume this is not intended as it can mess up the logging of applications using the dependency. Also `iot-sdk-java` in

[2022-04-07 22:38] brycewang-microsoft commented on #1523
Hi @g0rill4z , thanks for bring this to us! I have a small [fix ](https://github.com/Azure/azure-iot-sdk-java/pull/1524) for it.

[2022-04-08 08:23] gmousset opened #1526 "[Bug Report] Unreliable registered device count in MultiplexingClient"
# Context

- **OS and version used:** Docker container based on alpine 3.15 (eclipse-temurin:17-alpine)
- **Java runtime used:** openjdk version "17.0.1" 2021-10-19
- **SDK version used:** iot-device-client:2.0.1

## Description of the issue
It seems that when the MultiplexingClient is stressed with a lot of registrations/unregistrations the registered devices count is not reliable (**Multiplexing

[2022-04-08 16:02] bouff commented on #1467
Apologies for the delay @timtay-microsoft, I'll dedicate time for this next week.

[2022-04-08 19:02] timtay-microsoft commented on #1526
I suspect this is actually a service bug. I've repro'd the service rejecting a new device from the muxed connection even when manually checking that the number of clients I registered to a given multiplexed client is under the allowed threshold. I suspect the service isn't checking the number of clients registered at that moment, but instead, its checking the number of clients that have _ever been

[2022-04-08 19:08] timtay-microsoft commented on #1526
The SDK does expose these exceptions that you've added logs to look at, by the way:

[code]

[2022-04-08 21:22] gmousset commented on #1526
Thanks @timtay-microsoft
I've implemented a work around with a connections pool + connections rotation + a counter to never exceed 1000 subscriptions by connection (counter is never decremented).
The service runs from 9 hours without errors.
Not the perfect solution, nevertheless, it works.
I hope this could be fixed on the iot hub.

[2022-04-11 15:14] timtay-microsoft commented on #1518
any luck with the above suggestion @krunalshah131987 ?

[2022-04-11 18:34] timtay-microsoft commented on #1467
No rush! Just let me know if you need any more help on this issue

[2022-04-13 05:23] mahendradabiaplite commented on #738
The problem still exists in the 1.24.0 version here is the screenshot of the crash could please have a look into this it is happing almost every device.
com.microsoft.azure.sdk.iot.device.transport.mqtt.Mqtt.subscribe Mqtt.java
com.microsoft.azure.sdk.iot.device.transport.mqtt.MqttMessaging.start MqttMessaging.java
com.microsoft.azure.sdk.iot.device.transport.mqtt.MqttIotHubConnection.open MqttIot

[2022-04-13 14:06] gabrielandrade2 opened #1530 "[Bug Report] PRECONDITION_FAILED when trying to update DeviceTwins on SDK v2"
# Context

- **OS and version used:** Ubuntu 20.04.4 LTS
- **Java runtime used:** openjdk version "15.0.3" 2021-04-20
- **SDK version used:** 2.0.1

## Description of the issue
Hi, this may be something that I am doing wrong, but I don't actually understand the reason.
I am currently updating my former code from SDK v1 to v2 and I got stuck when trying to update the DeviceTwin properties.
I tried

[2022-04-14 17:17] timtay-microsoft commented on #1518
I'm assuming that you are unblocked, so I'm closing this issue. Feel free to open a new issue if you run into any further issues.

[2022-04-14 17:17] #1518 closed

[2022-04-14 18:46] timtay-microsoft opened #1533 "[Bug Report] DeviceClient thrown IO exceptions aren't marked as "retryable""
IO exceptions should be retryable, but opening a device client with no internet connection results in a thrown IotHubClientException that is marked as "unretryable"

[2022-04-15 13:49] gabrielandrade2 commented on #1530
@timtay-microsoft. Thank you for your answer. I'll check that link out.

However, I still am a little bit curious on why does my device needs to be aware of the (probably) outdated reported properties from the cloud, if the device itself is the one producing and reporting those properties.
Maybe there is an use case for this that I don't see, but at lease for my usage I think that such behavior do

[2022-04-15 18:00] timtay-microsoft commented on #1530
[This document](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#optimistic-concurrency) highlights why you should care about this version field. Even if a single device is the only one sending these updates, there is some risk that a reported properties update can be lost due to the device being disconnected.

[2022-04-18 14:47] gabrielandrade2 commented on #1530
@timtay-microsoft, I've managed to get the Twins working again after looking at the new example. Thank you for your support.

[2022-04-18 14:47] #1530 closed

[2022-04-19 22:47] timtay-microsoft commented on #1533
Fixed by 2.0.2 which has just been released, so closing this thread

[2022-04-19 22:47] #1533 closed

[2022-04-19 22:47] timtay-microsoft commented on #1523
Fixed by 2.0.2 which has just been released, so closing this thread

[2022-04-19 22:47] #1523 closed

[2022-04-25 11:29] gmousset commented on #1478
Hi @timtay-microsoft,
After some modifications, tests and profiling, I noted that iot hub clients deletion didn't release Symbol objects.
The Symbol class has an internal **static** map that keep reference to all symbol objects...
Symbol objects seem to be "constants" strings like "amqp:open:list", "amqp:sasl-init:list", etc
So after a while, the object maps should not growth indefinitely, so it's

[2022-04-25 23:02] timtay-microsoft commented on #1467
I'll go ahead and close this issue for now. If you are still having this issue after upgrading to the latest release, then go ahead and open a new issue on this page.

[2022-04-25 23:02] #1467 closed

[2022-04-27 07:28] gmousset commented on #1478
Thanks for your support.
I patched the sdk by replacing variable string Symbols with String instances and I see no side effects.
It seems to work correctly without thousands Symbol instances.

[2022-05-01 14:53] vullnetlimani opened #1544 "onMethodInvoked not called when it connects back from a disconnecting state on AMQPS Protocol"
# Context

- **OS and version used:** <VERSION> (Android)
- **Java runtime used:** <VERSION> (18.0.1)
- **SDK version used:** <VERSION> (iot-device-client:2.0.2)

## Description of the issue
When subscribeToMethodsAsync is called on protocol AMQPS it works fine but if a disconnection happens, and then it connects back the MethodCallback is not triggered at all.

Just for testing purposes, If clone

[2022-05-02 15:53] timtay-microsoft commented on #1544
Can you be a bit more specific about the scenario here? Are you saying that a device client that loses connection and regains its connection via the SDK's internal retry policy stops receiving methods? Or that a device client that loses connection, fails to regain its connection via the SDK's internal retry policy, and then you manually call deviceClient.open() to stops receiving methods?

[2022-05-02 18:10] timtay-microsoft commented on #1544
Actually, I think I see what you mean here. #1545 should address this issue for you

[2022-05-02 18:23] vullnetlimani commented on #1544
Hello, yes exactly, so I've just checked the bug you addressed there as well, that's what I did after I unwrapped the if statement on line: 794 InternalClient.java class then everything started to work wonderful, but I see that you have done that on the device twin object as well, on line: 608

So basically the bug was that when you have a fresh new connection it's working but when you get a disco

[2022-05-04 14:55] timtay-microsoft commented on #1544
Device client package 2.0.3 has been released with the fix for this issue, so I'm closing this thread

[2022-05-04 14:55] #1544 closed

[2022-05-04 14:55] timtay-microsoft commented on #1478
Device client package 2.0.3 has been released with the fix for this issue, so I'm closing this thread

[2022-05-04 14:55] #1478 closed

[2022-05-17 14:49] sorinpenteleiciuc commented on #1467
Is this fix released in **1.34.2** ?

[2022-05-24 21:33] derSchtefan opened #1555 "[Bug Report] IoT edge ModuleClient open(): An illegal reflective access operation in Mqttv3 when connecting to IoT hub"
# Context

- **OS and version used:** Ubuntu 18.04, moby, iot edge 1.1.13
- **Java runtime used:** 11
- **SDK version used:** Spring: 2.7.0
- azure.iot.device.client.version: 2.0.3
- azure.iot.service.client.version: 2.0.2
- Run in a Oracle VM VirtualBox

## Description of the issue
When running in an IoT edge module, opening a connection created from environment with protocol MQTT, causes `WARNIN

[2022-05-31 21:52] brycewang-microsoft commented on #1555
Thanks for bringing this to our attention! As the warning message pointed, the illegal reflective access operation was caused by `org.eclipse.paho.client.mqttv3.internal.NetworkModuleService`, so it appears that the paho mqtt client was using reflection to access parts of the JDK that are meant for internal use only.

To disable the warning message, can you add the "--add-opens" flag which explici

[2022-05-31 21:54] brycewang-microsoft commented on #1555
Additionally, as this error stems from the MQTT stack, you can also opt to use AMQP on this troublesome device in particular if necessary.

[2022-06-09 15:12] derSchtefan commented on #1555
Thank you. We have decided to scrap that VM and replace it. The error disappeared on its own, but we will have your solution with AMQP ready in case it re-appears.

Is there a reason all examples utilize MQTT for the local connection by default? Is it because it is faster/less resource intense?

We can close this issue for now if you agree.

[2022-06-09 22:30] brycewang-microsoft commented on #1555
Yes, you are correct. Also, MQTT is more widely used in the IoT industry and widely supported among the most popular clouds.

I am closing this issue. Please always feel free to reopen if you observe it further.

[2022-06-09 22:30] #1555 closed

[2022-06-10 16:48] timtay-microsoft commented on #1555
Compared to HTTPS, yes. AMQP and MQTT have roughly the same overhead though.

[2022-06-18 17:44] zonble opened #1561 "[Technical Question] Wondering why a device using gateway hostname in connection string is considered as an edge hub"
Hi,

recently my company is building a service on the top of Azure IoT Hub. We use the Java SDK to let the devices to connect to IoT Hub and receive C2D messages.

Due to our internal security guideline, our infra guys ask us to build a gateway between the end devices and IoT Hub, so we added the gateway hostname setting in the connection string when building an instance of DeviceClient.

Then, we

[2022-06-20 22:00] timtay-microsoft commented on #1561
The gateway host name is only typically provided when acting as an edge module communicating with an Azure IoT Edgehub instance, so that is why the SDK makes some assumptions about which MQTT topics to subscribe to based on if it is provided or not.

If you are trying to communicate with IoT Hub through an HTTP proxy, then you don't need to provide a gateway hostname in your connection string. Ins

[2022-06-21 02:20] zonble commented on #1561
Hi,

thanks for your reply!

When I read the documentation [How an IoT Edge device can be used as a gateway](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway?view=iotedge-2020-11), I did not realize when a device behind a gateway would become an edge hub. it said there are "IoT device", "IoT behind a gateway", "IoT Edge device" and "IoT Edge behind a gateway". It left me an impr

[2022-06-21 02:21] #1561 closed

[2022-06-28 10:46] janusz-com2m opened #1563 "[Bug Report] Thread leak of IotHubReconnectTask"
# Context

- **OS and version used:** Docker Image eclipse-temurin:11-alpine (Linux f74e9f6057d9 4.15.0-184-generic #194-Ubuntu SMP Thu Jun 2 18:54:48 UTC 2022 x86_64 Linux)
- **Java runtime used:** openjdk version "11.0.15" 2022-04-19
OpenJDK Runtime Environment Temurin-11.0.15+10 (build 11.0.15+10)
OpenJDK 64-Bit Server VM Temurin-11.0.15+10 (build 11.0.15+10, mixed mode)
- **SDK version used:**

[2022-07-06 19:49] brycewang-microsoft commented on #1563
Hi @janusz-com2m, thanks for bringing this to our attention! #1567 should fix this issue. I will update here again once we release a newer verison.

[2022-07-09 04:19] brycewang-microsoft commented on #1563
Device client package [2.0.4](https://github.com/Azure/azure-iot-sdk-java/releases/tag/2022-07-07) has been released with the fix for this issue. Closing this thread.

[2022-07-09 04:19] #1563 closed

[2022-07-11 13:52] BenD10 opened #1571 "[Bug Report] DeviceClient doesn't fully reconnect after temporary network disconnect (AMQP)"
# Context

- **OS and version used:** Ubuntu 20.04 LTS
- **Java runtime used:** openjdk version "11.0.15" 2022-04-19
- **SDK version used:** 2.0.4

## Description of the issue
Continuation of #1467

Performed a test where we temporaily disconnect network connectivity (either pull the ethernet cable or disable VM networking). I left the application running for approx 5 minutes and then restored net

[2022-07-11 13:54] BenD10 commented on #1571
Reverting to version `1.29.1` resolves the problem and the SDK connects successfully.

[2022-07-12 18:35] tmahmood-microsoft commented on #1571
@BenD10 I see you are using the Direct-method-sample, were there any changes you made to the sample code?
It would be helpful if you could share the code you used to reproduce the issue.

[2022-07-13 12:59] BenD10 commented on #1571
Hi @tmahmood-microsoft, I didn't make any changes to the sample code. Just providing the connection string of a device and using AMQPS was enough to recreate the issue.

[2022-07-13 21:52] tmahmood-microsoft commented on #1571
@BenD10 are you able to reproduce this issue occasionally or are you seeing this consistently every time?

[2022-07-14 17:46] BenD10 commented on #1571
Yes it's 100% reproducible.

1. Launch the `DirectMethodSample` with the following arguments:
`HostName=*****.azure-devices.net;DeviceId=*****;SharedAccessKey=***** amqps`
2. Invoke the direct method via the portal to ensure it works
3. Disable NIC
4. After 5 minutes, reenable NIC
5. Invoking the direct method via the portal no longer works.

Please let me know if you require any further details.

[2022-07-15 12:56] mahendradabiaplite opened #1575 "[Bug Report] MQTT layer encounters NullPointerException"
My application reported the highest crashing issue with following bug could you please tell me the exact cause of the issue
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean zk.f.b()' on a null object reference
O
com.microsoft.azure.sdk.iot.device.transport.mqtt.Mqtt.subscribe Mqtt.java
com.microsoft.azure.sdk.iot.device.transport.mqtt.MqttMessaging.start MqttMessaging.java

[2022-07-15 17:37] tmahmood-microsoft commented on #1575
Hi @mahendradabiaplite could you please share more details about what you are trying to achieve and also share the code snippet you are working with that would help us reproduce the issue. Thanks

[2022-07-15 17:54] mahendradabiaplite commented on #1575
Hello @tmahmood-microsoft  I have only this description in my app center logs. No other description to trace it which component of my app is causing the issue.

[2022-07-15 18:11] mahendradabiaplite commented on #1575
import android.app.*
 import android.content.Context
 import android.content.DialogInterface
 import android.content.Intent
 import android.net.ConnectivityManager
 import android.os.Build
 import android.os.Handler
 import android.text.Html
 import android.text.format.DateFormat
 import android.util.Log
 import androidx.appcompat.app.AppCompatActivity
 import androidx.core.app.NotificationCompat

[2022-07-15 18:22] tmahmood-microsoft commented on #1575
@mahendradabiaplite  can you also share what SDK version you are using?

[2022-07-15 18:28] mahendradabiaplite commented on #1575
Hello @tmahmood-microsoft

    api('com.microsoft.azure.sdk.iot:iot-device-client:1.24.0') {
         exclude module: 'slf4j-api'
         exclude module: 'azure-storage'
     }
     

     implementation('com.microsoft.azure.android:azure-storage-android:2.0.0@aar')

[2022-07-15 22:21] brycewang-microsoft commented on #1575
Hi @mahendradabiaplite, I think the NPE issue here has been fixed by [this](https://github.com/Azure/azure-iot-sdk-java/pull/1125) which was included since the device client version 1.29.2 (release note [reference](https://github.com/Azure/azure-iot-sdk-java/releases/tag/2021-02-24)). Can you upgrade the device client version accordingly and give it a try again?

[2022-07-16 07:00] mahendradabiaplite commented on #1575
will try it. thank you @brycewang-microsoft @tmahmood-microsoft

[2022-07-20 20:41] chris-pinola-rf opened #1578 "[Bug Report] Cannot enable IoT Edge device capabilities via TwinClient"
# Context

- **OS and version used:** Ubuntu 20.04 LTS
- **Java runtime used:** openjdk version "15.0.2" 2021-01-19
- **SDK version used:** 2.1.0 (latest as of writing)

## Description of the issue
It is currently not possible to use the `com.microsoft.azure.sdk.iot.service.twin.TwinClient` to grant an existing device the IoT Edge "capability" via this SDK. Calling `capabilities.setIoTEdge(true)`

[2022-07-20 22:07] tmahmood-microsoft commented on #1575
@mahendradabiaplite did the device client version 1.29.2 help fix the issue for you?

[2022-07-21 00:08] timtay-microsoft commented on #1578
The service currently only allows you to update this field in the [device update API in RegistryClient](https://github.com/Azure/azure-iot-sdk-java/blob/1501682544813aa28f0ae58e096d8e903a952a50/service/iot-service-client/src/main/java/com/microsoft/azure/sdk/iot/service/registry/RegistryClient.java#L224) after setting the [edge capabilities flag](https://github.com/Azure/azure-iot-sdk-java/blob/15

[2022-07-21 04:34] mahendradabiaplite commented on #1575
I have updated the version as mentioned and have submitted the app to the play store will let you know soon after release of my app. Thank you !!

[2022-07-21 13:58] chris-pinola-rf commented on #1578
Thanks @timtay-microsoft, `RegistryClient` does exactly what I'm looking for. 👍

[2022-07-21 13:58] #1578 closed

[2022-07-21 15:57] BenD10 commented on #1571
Hi @tmahmood-microsoft, just following up if there is an update? We're blocked from moving to the 2.0 SDK until this is resolved.

I'm not able to reproduce the issue when using MQTT, only with AMQPS.

[2022-07-21 22:06] tmahmood-microsoft commented on #1571
@BenD10 the issue has been fixed [here](https://github.com/Azure/azure-iot-sdk-java/pull/1577)

[2022-07-22 17:45] timtay-microsoft commented on #1526
We haven't been able to get any traction from the service team to provide a way to fully unregister a device from a muxed connection so that it doesn't count against the cap. Unfortunately, I'll have to close this as "won't fix" for now. The solution described above is one way to work around this issue.

[2022-07-22 17:45] #1526 closed

[2022-07-22 17:48] BenD10 commented on #1571
Sounds good thank you for the turnaround! When's the next scheduled release that this will be included in?

[2022-07-25 19:24] tmahmood-microsoft commented on #1571
@BenD10 we can have a release for you soon, hopefully within couple days.

[2022-07-26 18:56] emilm opened #1581 "[Technical Question] Connect directly using TPM without using edgeHub on a provisioned device"
Hello! I have some issues with edgeHub and I want to bypass it completely.
I have containers using ModuleClient:

[code]
This probably makes it connect via edgeHub.
For me edgeHub is a point of failure and it will conceal whether my device is connected or disconnected. I need the events for when it is disconnected / connected. This happens on poor connections a lot.

1. Is there a way to connect d

[2022-07-27 17:04] tmahmood-microsoft commented on #1571
@BenD10 you can find release details here: [Release-2022-07-25](https://github.com/Azure/azure-iot-sdk-java/releases/tag/2022-07-25)

[2022-07-28 00:03] timtay-microsoft commented on #1581
There is no direct way to construct a moduleClient instance that uses the TPM for getting authentication credentials that then connects to IoT hub directly instead of to your Edgehub. However, it should be possible to alter your module's environment variables to make it connect to IoT hub. If you remove or set to "" the envirornment variable [IOTEDGE_GATEWAYHOSTNAME](https://github.com/Azure/azure

[2022-07-28 08:17] emilm commented on #1581
@timtay-microsoft  Thanks for your answer! Exactly what I am looking for.,
Is the local message queue persistent across reboots (not in memory)? Where does it know where to store it?

[2022-07-28 18:39] timtay-microsoft commented on #1581
The SDK's local message queue is stored in memory so it does **not** persistent across reboots.

[2022-07-28 23:40] timtay-microsoft commented on #1575
@mahendradabiaplite any updates here? Is it okay for us to close this issue?

[2022-07-29 05:17] mahendradabiaplite commented on #1575
Hello, you can, it seems to be okay now Thank you !

[2022-07-29 05:17] #1575 closed

[2022-08-01 17:14] tmahmood-microsoft commented on #1571
@BenD10 I am closing this issue, let me know if you need any more assistance.

[2022-08-01 17:14] #1571 closed

[2022-08-01 21:33] timtay-microsoft commented on #1581
Did you need any further help on this @emilm?

[2022-08-01 21:54] emilm commented on #1581
@timtay-microsoft  Thank  you for your answer. Unless I can somehow plug in my own queue store, I guess I have to stick with edgeHub. The reason is that I have gotten into some weird edge cases where it is online but is unable to receive any messages, while the internal connection from the SDK to edgeHub is fine.

[2022-08-01 22:46] timtay-microsoft commented on #1581
Gotcha.

For what it's worth, the SDK does notify you of all the messages it had queued when you close the client, so it should be possible to build a hardware-stored queue and fill it with the CANCELLED_ON_CLOSE messages. With that hardware persistence, you can reboot, instantiate a new device client, and enqueue all the messages that failed to send last attempt.

[2022-08-01 22:49] timtay-microsoft commented on #1581
This may be a bug in Edgehub or this SDK. If you see anything suspicious in the logs of either, feel free to file a bug about it here or on the [Edgehub repo](https://github.com/Azure/iotedge/issues).

For now, though, I'll go ahead and close this thread since the title's question has been answered.

[2022-08-01 22:49] #1581 closed

[2022-08-02 13:38] emilm opened #1584 "[Bug Report] DirectMethodResponse payload json string is sent as escaped string"
# Context

- **SDK version used:** 2.0.3 (Please include the version of the SDK used)

## Description of the issue
In version 1.x of the SDK, DirectMethodResponse sent a json string as-is. I require my dates to be formatted differently, and can't use the standard serializer.

## Code sample exhibiting the issue

[code]

Result in iot hub:

[code]
The standard serializer returns the date like this

[2022-08-02 19:38] brycewang-microsoft commented on #1584
Hi @emilm,

We re-worked the payload type of direct methods for both device and service a few months before. And you are right, this is a breaking change, so we brought this since our Java SDK v2.0.0. FYI, the related PR is [here](https://github.com/Azure/azure-iot-sdk-java/pull/1486/).

As you noticed, before this change, `DirectMethodResponse` on the sender side took the payload in the type of *

[2022-08-02 22:51] emilm commented on #1584
Thanks @brycewang-microsoft . Yes my concern is the sending end. It increases the payload size with the standard serialization of date for example. Maybe add an option to inject your own GSON instance ? I have added type adapters on a GSON instance I use.

If `getPayloadAsJsonString()` is 'as is', but `setPayload(String)` in _DirectMethodResponse_ escapes quotes, you might have an inconsistency in

[2022-08-03 00:31] brycewang-microsoft commented on #1584
Hi @emilm, I hope I understand your use case correctly and share my answers as following:
<br>

After our changes, actually you don't need manual serialization of your payload object while calling `DirectMethodResponse` constructor on the sender side. The SDK will do serialization internally while creating the request. So in your use case, now you can do things like:
[code]
Meanwhile, on the recei

[2022-08-03 08:16] emilm commented on #1584
Hello @brycewang-microsoft  :)

Sorry for not explaining properly. I forgot to mention that my receiver side is C# / NewtonSoft. That's why I would like to have full control over my payload. The reason is that different languages and libraries serialize / deserialize in different ways out of the box. How GSON serializes date as standard, is not how Newtonsoft deserializes the same date in the othe

[2022-08-05 00:41] turkey1993 opened #1587 "请问安卓如何集成微软物联网sdk"
你好，公司将传感器设备的数据上传到微软物联网，然后我这边的安卓app端想从物联网将数据拉取过来，请问有没有详细的文档说明，非常感谢

[2022-08-05 23:07] brycewang-microsoft commented on #1587
@turkey1993 您好，请问您是否可以进一步说明“传感器设备的数据”是怎样存储在Azure IoT Hub中的吗？比如是通过Hub中注册的设备的Twin的属性值，亦或是其他形式？

另外，有关使用安卓APP进行设备端和IoT Hub端交互的示例，可以先参考[这里](https://github.com/Azure/azure-iot-sdk-java/tree/main/device/iot-device-samples/android-sample)。

[2022-08-08 17:39] RamIoTMalhotra opened #1588 "[Bug Report] IGNORE THIS - CHECKING GH SYNC"
Checking GH sync

[2022-08-08 17:40] #1588 closed

[2022-08-15 17:14] brycewang-microsoft commented on #1587
@turkey1993 因为一段时间没收到回复，目前我将此问题关闭。如果有后续相关问题，欢迎您随时重开此问题。

[2022-08-15 17:14] #1587 closed

[2022-08-17 14:08] dermoritz opened #1590 "[Bug Report] Twin sample always mqtt connection lost on updateReportedProperties - getTwin() seems to break it"
## Upate

adding `client.getTwin();` at beginning of working variant (see below), it also yields `Mqtt connection lost`

It seems that **getTwin() breaks the MQTT connection**?

# Context

- **OS and version used: Windows 11**
- **Java runtime used: 17.0.3** <VERSION> (in a command prompt: java -version )
- **SDK version used: device client 2.0.5, x509-provider:2.0.1, provisioning-device-client:2.

[2022-08-17 18:01] patilsnr commented on #1590
Hi @dermoritz,

Thanks for reaching out. Could you please try running this again using AMQP? It should hopefully yield some more informative error messages. Additionally, could you please post your device twin JSON (specifically "properties"), feeling free to redact any personal information contained within.

To access your device twin, navigate to your IoT Hub => Devices => Device Twin

[2022-08-18 08:33] dermoritz commented on #1590
Using `IotHubClientProtocol.AMQPS` fixes the issue!
Using MQTT causes allways a EOFException in `readByte(DataInputStream.java:273)` on getTwin().
(updating paho dependency to 1.2.5 didn't helped)
This is the current twin (updating my properties is working fine):

[code]

[2022-08-18 21:30] patilsnr commented on #1590
Good afternoon @dermoritz,

We'll try and recreate the issue on our end. On first glance, how did you get your timestamps to appear in the format of `"0001-01-01T00:00:00.0000000Z"`? There's a chance that they could be invalid.